<h2>Ré-envoyer les instructions de confirmation</h2>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
  </div>
  <p></p>
  <div class="actions">
    <%= f.submit "Ré-envoyer les instructions de confirmation", class: "btn btn-primary" %>
  </div>
  <p></p>
<% end %>

<%= render "users/shared/links" %>
