<h2>Ré-envoyer les instructions de confirmation</h2>

<p>Vous n'avez pas reçu le mail de confirmation ? Nous vous prions de vérifier qu'il ne se soit pas dirigé dans vos mails indésirables.</p>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
  </div>
  <p></p>
  <div class="actions">
    <%= f.submit "Ré-envoyer les instructions de confirmation", class: "btn btn-primary" %>
  </div>
  <p></p>
  <p>Besoin d'aide ? Pour toutes questions, vous pouvez contacter le webmaster à <a href="mailto:contact@artandteo.com">contact@artandteo.com</a></p>
<% end %>

<%= render "users/shared/links" %>
