<%= form_for(presence) do |f| %>
  <% if presence.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(presence.errors.count, "error") %> prohibited this presence from being saved:</h2>

      <ul>
      <% presence.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
        <%= f.label :datecours %>
        <%= f.date_select :datecours %>
    </div>
    <div class="field">
        <%= f.label :enseignant_id, "Enseignant référant" %>
        <%= f.select :enseignant_id, @enseignants.collect { |p| [p.nom, p.id] } %>
    </div>

  <table class="table">
    <thead>
    <tr>
        <th>Nom</th>
        <th>Prenom</th>
        <th>Etat</th>
    </tr>
    </thead>

    <tbody>
    <% @eleves.each_with_index do |elefe, i|  %>
        <tr>
            <td><%= elefe.nom %></td>
            <td><%= elefe.prenom %></td>
            <td>
                <div class="field">
                    <%= f.text_field :etat, multiple: true %>
                </div>
            </td>

        </tr>
    <% end %>

    </tbody>
 </table>
    <%= f.hidden_field :cour_id, value: @cour[0].id %>
    <%= f.submit %>

<% end %>
