<p id="notice"><%= notice %></p>

<h1>Presences</h1>
<h2>Cours
    <% if @cour[0].typcours == 0 %>
        Adultes
    <% elsif @cour[0].typcours == 1 %>
        Enfants
    <% elsif @cour[0].typcours == 2 %>
        Mixte
    <% end %>
    <%= @cour[0].nomvil %>
</h2>

<table class="table">
    <thead>
    <tr>
        <th>Nom</th>
        <th>Prenom</th>
        <% @presences.each do |j| %>
            <% if j.elefe_id == @eleves[0].id %>
                <th><%= j.datecours.day %>/<%= j.datecours.month %></th>
            <% end %>
        <% end %>
    </tr>
    </thead>

    <tbody>
    <% @eleves.each do |elefe|  %>
        <tr>
            <td><%= elefe.nom %></td>
            <td><%= elefe.prenom %></td>
            <% @presences.each do |j| %>
                <% if j.elefe_id == elefe.id %>
                    <td><%= j.etat %></td>
                <% end %>
            <% end %>
        </tr>
    <% end %>

    </tbody>
    <tbody>
    <tr>
        <td><strong>Encadrant</strong></td>
        <td></td>
        <% @presences.each do |j| %>
            <% if j.elefe_id == @eleves[0].id %>
                <td>
                    <%= @enseignants.find(j.enseignant_id).nom %>
                </td>
            <% end %>
        <% end %>

    </tr>
    </tbody>
</table>

<%= link_to 'Retour', root_path %>


<!-- <table>
  <thead>
    <tr>
      <th>Datecours</th>
      <th>Etat</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @presences.each do |presence| %>
      <tr>
        <td><%= presence.datecours %></td>
        <td><%= presence.etat %></td>
        <td><%= link_to 'Show', presence %></td>
        <td><%= link_to 'Edit', edit_presence_path(presence) %></td>
        <td><%= link_to 'Destroy', presence, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Presence', new_presence_path %> -->
