<p id="notice"><%= notice %></p>

<h1>Presences</h1>
<% if @presence %>
<h3>Cours <%= @typ_cours[@presence.cour.typcours] %> <%= @presence.cour.nomvil %></h3>

<div class="row">
    <div class="col-6 col-md-4">
        <table class="table table-striped">
              <thead>
                <tr>
                    <th class="narrow">TP</th>
                    <th class="narrow">TA</th>
                    <th>Nom</th>
                    <th>Prenom</th>
                </tr>
              </thead>
              <tbody>
              <% @presence.eleves.each.with_index do |elefe, i|  %>
              <% if !elefe.etats.find_by(ponctuel: true) %>
                  <tr>
                      <td class="narrow"><%= @ttp[i] %></td>
                      <td class="narrow"><%= @tta[i] %></td>
                      <td><% if elefe.email %><%= link_to elefe.nom, elefe_path(elefe.id) %><% else %><%= elefe.nom %><% end %></td>
                      <td><%= elefe.prenom %></td>
                  </tr>
              <% end %>
              <% end %>
              </tbody>
              <tbody>
              <tr style="background-color: yellow;">
                  <td>Nombre</td>
                  <td></td>
                  <td>d'élèves</td>
                  <td>Moy. <%= sprintf('%.1f', @total.inject(0.0) { |sum, el| sum + el } / @total.size) %></td>
              </tr>
                <tr style="background-color: yellow;">
                    <td></td>
                    <td></td>
                    <td><strong>Encadrant</strong></td>
                    <td></td>
                </tr>
              </tbody>
        </table>
    </div>


<div class="col-6 col-md-8">
<div id="index_presences">
<table class="table table-striped">
    <thead>
    <tr class="text-center">
        <% @presences.sort_by { |date| date.datecours }.each do |presence| %>
            <% date = presence.datecours.day.to_s+'/'+presence.datecours.month.to_s %>
            <td>
            <div id="datepres"><%= date %></div>
            <div class="visonhover"><%= link_to '<i class="fa fa-pencil" aria-hidden="true"></i>'.html_safe, edit_presence_path(presence.id), data: { confirm: 'Modifier les présences du '+date+' ?' } %>&nbsp;&nbsp;<%= link_to '<i class="fa fa-trash-o" aria-hidden="true"></i>'.html_safe, presence, method: :delete, data: { confirm: 'Supprimer les présences du '+date+' ?' } %></div>
            </td>
        <% end %>
    </tr>
    </thead>

    <tbody>

    <% @presence.eleves.each.with_index do |elefe, i|  %>
    <% if !elefe.etats.find_by(ponctuel: true) %>
        <tr class="text-center">
            <% @presences.sort_by { |date| date.datecours }.each do |presence| %>
                <% et = elefe.etats.find_by_presence_id(presence.id) %>
                <% if et %>
                    <% if et.etat == "P" || et.etat == "M/B" %><td style="background-color: #007bff; color: white;"><% elsif et.etat == "A" %><td style="color: red;"><% else %><td><% end %>
                        <strong><%= et.etat %></strong>
                    </td>
                <% else %>
                    <td></td>
                <% end %>
            <% end %>
        </tr>
    <% end %>
    <% end %>

    </tbody>

    <tbody>
    <tr class="text-center" style="background-color: yellow;">
        <% @presences.each.with_index do |presence, i | %>
            <td><%= @total[i] %></td>
        <% end %>
    </tr>
    <tr class="text-center" style="background-color: yellow;">
        <% @presences.sort_by { |date| date.datecours }.each do |presence| %>
            <% if presence %>
            <td style="overflow: scroll;"><%= presence.enseignant.prenom %> <%= presence.enseignant.nom %></td>
            <% end %>
        <% end %>
    </tr>
    </tbody>
</table>
</div>
</div>
</div>

<!-- TABLEAU DES PONCTUELS -->

<h3>Tableau des élèves ponctuels</h3>
<div class="row">
    <div class="col-7 col-md-4">
        <table class="table table-striped">
              <thead>
                <tr>
                    <th class="narrow">TP</th>
                    <th class="narrow">TA</th>
                    <th>Nom</th>
                    <th>Prenom</th>
                </tr>
              </thead>
              <tbody>
              <% @presence.eleves.each.with_index do |elefe, i|  %>
              <% if elefe.etats.find_by(ponctuel: true) %>
                  <tr>
                      <td class="narrow"><%= @ttp[i] %></td>
                      <td class="narrow"><%= @tta[i] %></td>
                      <td><% if elefe.email %><%= link_to elefe.nom, elefe_path(elefe.id) %><% else %><%= elefe.nom %><% end %></td>
                      <td><%= elefe.prenom %></td>
                  </tr>
              <% end %>
              <% end %>
              </tbody>
              <tbody>
              <tr style="background-color: yellow;">
                  <td>Nbre</td>
                  <td></td>
                  <td>ponctuels</td>
                  <td>Moy. <%= sprintf('%.1f', @totalponct.inject(0.0) { |sum, el| sum + el } / @total.size) %></td>
              </tr>
              </tbody>
        </table>
    </div>


<div class="col-5 col-md-8">
<div id="index_presences">
<table class="table table-striped">
    <thead>
    <tr class="text-center">
        <% @presences.sort_by { |date| date.datecours }.each do |presence| %>
            <% date = presence.datecours.day.to_s+'/'+presence.datecours.month.to_s %>
            <td><%= date %></td>
        <% end %>
    </tr>
    </thead>

    <tbody>

    <% @presence.eleves.each.with_index do |elefe, i|  %>
    <% if elefe.etats.find_by(ponctuel: true) %>
        <tr class="text-center">
            <% @presences.sort_by { |date| date.datecours }.each do |presence| %>
               <% et = elefe.etats.find_by_presence_id(presence.id) %>
                <% if et %>
                    <% if et.etat == "P" || et.etat == "M/B" %><td style="background-color: #007bff; color: white;"><% elsif et.etat == "A" %><td style="color: red;"><% else %><td><% end %>
                        <strong><%= et.etat %></strong>
                    </td>
                <% else %>
                    <td></td>
                <% end %>
            <% end %>
        </tr>
    <% end %>
    <% end %>

    </tbody>

    <tbody>
    <tr class="text-center" style="background-color: yellow;">
        <% @presences.each.with_index do |presence, i | %>
            <td><%= @totalponct[i] %></td>
        <% end %>
    </tr>

    </tbody>
</table>
</div>
</div>
</div>
<% else %>
    <br/><p>Il n'y a aucune présence de saisie pour ce cours.</p>
<% end %>
<% cour = @cour[0].id %>
<%= link_to 'Retour', request.referer.present? ? request.referer : root_path %><% if @presence %>&nbsp;|&nbsp;<%= link_to 'Créer le tableau PDF', prespdf_path(:format => 'pdf', :cour => cour), target: '_blank', class: 'text-right' %><% end %>