<h1>Sélection du cours</h1>
<%= form_for :select do |f| %>
    <%= f.label :page, "Sélectionner le cours :" %>
    <br />
    <% @cours.each_with_index do |a,i| %>
        <% if i == 0 %>
            <%= f.radio_button :cour, a.id, :checked => true %>
        <% else %>
            <%= f.radio_button :cour, a.id %>
        <% end %>
        <%= f.label :cour, a.nomvil %> <%= f.label :cour, a.jour %>
        <% if a.typcours == 0 %>
            Adultes
        <% elsif a.typcours == 1 %>
            Enfants
        <% elsif a.typcours == 2 %>
            Mixte
        <% end %>
        <br/>
    <% end %>
    <div class="actions">
        <%= f.submit :new, value: "Saisir", class: "btn btn-primary"  %>
    </div>
<% end %>