<h1>Tableau de présence</h1>
<h2>Cours
    <% if @presence.cour.typcours == 0 %>
        Adultes
    <% elsif @presence.cour.typcours == 1 %>
        Enfants
    <% elsif @presence.cour.typcours == 2 %>
        Mixte
    <% end %>
    <%= @presence.cour.nomvil %>
</h2>
<table class="table">
    <thead>
    <tr>
        <th>Nom</th>
        <th>Prenom</th>
        <th><%= @presence.datecours.day %>/<%= @presence.datecours.month %></th>
    </tr>
    </thead>

    <tbody>
    <% @presence.eleves.each do |elefe|  %>
        <tr>
            <td><%= elefe.nom %></td>
            <td><%= elefe.prenom %></td>
            <td><%= elefe.etats.find_by_presence_id(@presence.id).etat %></td>
        </tr>
    <% end %>

    </tbody>
    <tbody>
        <tr>
            <td><strong>Encadrant</strong></td>
            <td></td>
            <td><%= @presence.enseignant.prenom %> <%= @presence.enseignant.nom %></td>
        </tr>
    </tbody>
</table>


<%= link_to 'Modifier', edit_presence_path(@presence) %> |
<%= link_to 'Retour',  request.referer.present? ? request.referer : root_path %>
