<% if com_batigrado %>
        <% @even_sel = com_batigrado.batigrado_id if com_batigrado.batigrado_id %>
        <% @elefe = @eleves_all.where(:nom => com_batigrado.nom, :prenom => com_batigrado.prenom) if com_batigrado.nom %>
<% end %>
<% if !@even_sel %>
    <%= form_for :resp, :url => {:action => "new"} do |f| %>
        <%= f.label :sel_bat, "Sélectionnez votre évènement:" %>
        <% @batigrados.each.with_index do |batigrado, i| %>
            <br/>
            <% if i == 0 %>
                <%= f.radio_button :sel_bat, batigrado.id, :checked => true %>
            <% else %>
                <%= f.radio_button :sel_bat, batigrado.id %>
            <% end %>
            <%= f.label :sel_bat, batigrado.titre + ' - Les ' + batigrado.date_bat.strftime("%d") + ' et ' + batigrado.date_bat.tomorrow.strftime("%d/%m/%Y"), value: batigrado.id %>
        <% end %>
        <br/>

                <p>Entrer le nom et prénom du participant :</p>
                <%= f.text_field :nom, class: "form-control", placeholder: "Entrez un nom" %>
                <%= f.text_field :prenom, class: "form-control", placeholder: "Entrez un prénom" %>

                  <div class="field">
                    <%= f.label :nom_grupo, "Nom de votre groupe" %><br />
                    <%= f.radio_button :nom_grupo, "Grupo Cultura Capoeira", :checked => true %>
                    <%= f.label :nom_grupo, "Grupo Cultura Capoeira" %>

                    <br/>
                    <%= f.radio_button :nom_grupo, "autre" %>
                    <%= f.text_field :grupo %>

                  </div>
        <br/>
        <div class="actions text-center">
            <%= f.submit:go, value: "Valider", class: "btn btn-primary btn-lg", id: "subevent" %>
        </div>
    <% end %>
<% end %>

<% if @even_sel %>

    <%= form_for(com_batigrado) do |f| %>

      <% if com_batigrado.errors.any? %>
        <div id="error_explanation" class="alert alert-danger" role="alert">
          <h2>Le formulaire ne peut pas être enregistré à cause de <%= pluralize(com_batigrado.errors.count, "erreur") %></h2>

          <ul>
          <% com_batigrado.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <% @batigrado = @batigrados.find(@even_sel) %>
      <div class="text-center">
          <%= image_tag @batigrado.photo.url(:original), class: "img-fluid" %>
          <h3><%= @batigrado.titre %></h3>
          <p><%= @batigrado.description %></p>
      </div>



        <p>Bonjour <%= @prenom_ext %>,</p>
        <p>C'est un grand plaisir de vous accueillir à notre batigrado.</p>
        <p>Merci de remplir la suite du formulaire ci-dessous pour vous inscrire.</p>
        <%= f.hidden_field :nom, value: @nom_ext %>
        <%= f.hidden_field :prenom, value: @prenom_ext %>
        <%= f.hidden_field :email, value: current_user.email %>
        <%= hidden_field_tag :even_sel, @even_sel %>
        <%= f.hidden_field :nom_grupo, value: @grupo %>

        <% if @grupo == "Grupo Cultura Capoeira" %>
          <% if @batigrado.tarif1 %>
              <p>Le tarif pour participer au <strong><%= @batigrado.titre %></strong> est de <strong><%= number_to_currency(@batigrado.tarif1, unit: "", separator: ",", delimiter: "")+" euros" %></strong>.</p>
              <%= f.hidden_field :bati1, value: '1' %>
          <% end %>
          <% if @batigrado.tarif2 %>
              <% batiasso = Batigrado.find(@batigrado.batiasso_id) %>
              <p>Vous pouvez profiter de participer aussi au <strong><%= batiasso.titre %></strong> pour seulement <strong><%= number_to_currency(@batigrado.tarif2, unit: "", separator: ",", delimiter: "")+" euros" %></strong> de plus.</p>
              <% tarif2 = @batigrado.tarif1+@batigrado.tarif2 %>
              <hr/>
              <div class="field">
                <h6 style="text-align: left;">
                <%= f.check_box :bati2 %>
                <%= f.label :bati2, "Je participe aux 2 évènements associés (Tarif: "+number_to_currency(tarif2, unit: "", separator: ",", delimiter: "")+" euros)" %>
                </h6>
              </div>
          <% end %>
        <% else %>
          <% if @batigrado.tarif_ext %>
              <p>Le tarif pour participer au <strong><%= @batigrado.titre %></strong> est de <strong><%= number_to_currency(@batigrado.tarif_ext, unit: "", separator: ",", delimiter: "")+" euros" %></strong>.</p>
              <%= f.hidden_field :bati1, value: '1' %>
          <% end %>
        <% end %> <!-- fin if @grupo -->

      <hr/>
      <!-- Demande taille corde pour un élève GCC non affilié -->
      <% if @grupo == "Grupo Cultura Capoeira" %>

          <div class="field">
            <h6 style="text-align: left;">
            <%= f.check_box :gradup %>
            <%= f.label :gradup, "Je change de grade (pour les adultes gradés, avoir fait sa demande de REI)" %>
            <br/>
            <strong><span style="text-decoration: underline;">NOTA :</span> Si vous n'avez pas encore de corde, vous devez cocher cette case pour obtenir votre 1ère corde.</strong>
            </h6>
          </div>

          <div class="field" id="taillepant" >
            <%= f.label :gradactu,"Sélectionner votre grade actuel :" %>
              <br/>
            <%= f.select :gradactu, @grades_adultes, class: "form-control" %>
            <br/>
            <div id="ageactu">
                <%= f.label :ageactu, "Sélectionner l'âge de l'enfant au 31 mai #{@batigrado.date_bat.strftime("%Y")} :" %><br/>
                <%= f.number_field :ageactu, min: 6, max: 11 %> ans
                <br/>
            </div>
            <%= f.label :tpant,"Infos pour graduation: Taille pantalon (sert à définir la taille de la corde) :" %>
              <br/>
            <%= f.select :tpant, @taille_pant, class: "form-control" %>
          </div>
       <% end %>

        <hr/>
        <div class="field">
            <h6 style="text-align: left;">
            <%= f.label :ttshirt, "Taille de T-Shirt" %>
            <br/>
            <%= f.select :ttshirt, @taille_tshirt, class: "form-control" %>
            </h6>
        </div>

        <hr/>


          <br/>
      <h4 class="text-center">Informations complèmentaires pour nous aider à mieux préparer l'événement</h4>
          <br/> <br/>
      <h5>Pour le <%= @batigrado.titre %> :</h5>
      <% if @batigrado.tar_rep1 %>
      <div class="field">
        <%= f.check_box :repas1 %>
        <%= f.label :repas1, "Vous pensez commander un repas le samedi midi (prix moyen indicatif: "+number_to_currency(@batigrado.tar_rep1, unit: "", separator: ",", delimiter: "")+" euros)" %>
      </div>
      <% end %>
      <% if @batigrado.tar_rep2 %>
      <div class="field">
        <%= f.check_box :repas2 %>
        <%= f.label :repas2, "Vous pensez commander un petit-déjeuner le dimanche matin (prix moyen indicatif: "+number_to_currency(@batigrado.tar_rep2, unit: "", separator: ",", delimiter: "")+" euros)" %>
      </div>
      <% end %>
      <% if @batigrado.tar_rep3 %>
      <div class="field">
        <%= f.check_box :repas3 %>
        <%= f.label :repas3, "Vous pensez commander un repas le dimanche midi (prix moyen indicatif: "+number_to_currency(@batigrado.tar_rep3, unit: "", separator: ",", delimiter: "")+" euros)" %>
      </div>
      <% end %>
      <% if @batigrado.tar_soiree %>
      <div class="field">
        <%= f.check_box :soiree %>
        <%= f.label :soiree, "Vous pensez participer au repas de la soirée du samedi ("+number_to_currency(@batigrado.tar_soiree, unit: "", separator: ",", delimiter: "")+" euros adultes, 4 euros enfants)" %>
        <div id="soirpay">
            <%-# f.check_box :soirpay -%>
            <%-# f.label :soirpay, "Je paie mon repas pour la soirée dès maintenant" -%>
            <%= f.label :repenfvege, "Nombre de repas enfant végétatien :" %>
            <%= f.number_field :repenfvege, min: 0 %>
            <%= f.label :repenf, "Nombre de repas enfant classique :" %>
            <%= f.number_field :repenf, min: 0 %>
            <%= f.label :repadvege, "Nombre de repas adulte végétatien :" %>
            <%= f.number_field :repadvege, min: 0 %>
            <%= f.label :repad, "Nombre de repas adulte classique :" %>
            <%= f.number_field :repad, min: 0 %>
        </div>
      </div>
      <% end %>
      <div class="field">
        <%= f.label :hbesoin, "Si vous avez besoin d'un hébergement, entrer le nombre de places désirées :" %>
        <%= f.number_field :hbesoin, min: 0 %>
      </div>
      <div class="field">
        <%= f.label :hprop, "Vous pouvez proposer d'accueillir des capoeiristes, entrer le nombre de places disponibles :" %>
        <%= f.number_field :hprop, min: 0 %>
      </div>
      <div class="field">
        <%= f.label :hadresse, "Adresse de votre hébergement :" %>
        <%= f.text_area :hadresse, class: "form-control"  %>
      </div>
      <div class="field">
        <%= f.label :htelephone, "Un numéro de téléphone où vous joindre :" %>
        <%= f.text_field :htelephone, class: "form-control" %>
      </div>
      <div class="field">
        <%= f.label :remarque, "Vos remarques ou demandes spécifiques concernant le Batigrado :" %>
        <%= f.text_area :remarque, class: "form-control"  %>
      </div>

      <br/>

      <!-- BATIGRADO ASSOCIE -->
      <div id="batiasso">
          <% if @batigrado.tarif2 %>
          <p></p>
          <% batiasso = Batigrado.find(@batigrado.batiasso_id) %>
          <h5>Pour le <%= batiasso.titre %> :</h5>
          <% end %>
          <% if batiasso.tar_rep1 %>
          <div class="field">
            <%= check_box_tag :arepas1 %>
            <%= label :arepas1, "Vous pensez commander un repas le samedi midi (prix moyen indicatif: "+number_to_currency(batiasso.tar_rep1, unit: "", separator: ",", delimiter: "")+" euros)" %>
          </div>
          <% end %>
          <% if batiasso.tar_rep2 %>
          <div class="field">
            <%= check_box_tag :arepas2 %>
            <%= label :arepas2, "Vous pensez commander un petit-déjeuner le dimanche matin (prix moyen indicatif: "+number_to_currency(batiasso.tar_rep2, unit: "", separator: ",", delimiter: "")+" euros)" %>
          </div>
          <% end %>
          <% if batiasso.tar_rep3 %>
          <div class="field">
            <%= check_box_tag :arepas3 %>
            <%= label :arepas3, "Vous pensez commander un repas le dimanche midi (prix moyen indicatif: "+number_to_currency(batiasso.tar_rep3, unit: "", separator: ",", delimiter: "")+" euros)" %>
          </div>
          <% end %>
          <% if batiasso.tar_soiree %>
          <div class="field">
            <%= check_box_tag :asoiree %>
            <%= label :asoiree, "Vous pensez participer au repas de la soirée du samedi ("+number_to_currency(batiasso.tar_soiree, unit: "", separator: ",", delimiter: "")+" euros 4 euros enfants)" %>
            <div id="assosoirpay">
                <%-# check_box_tag :asoirpay -%>
                <%-# label :asoirpay, "Je paie mon repas pour la soirée dès maintenant" -%>
                <%= label :arepenfvege, "Nombre de repas enfant végétatien :" %>
                <%= number_field_tag :arepenfvege, min: 0 %>
                <%= label :arepenf, "Nombre de repas enfant classique :" %>
                <%= number_field_tag :arepenf, min: 0 %>
                <%= label :arepadvege, "Nombre de repas adulte végétatien :" %>
                <%= number_field_tag :arepadvege, min: 0 %>
                <%= label :arepad, "Nombre de repas adulte classique :" %>
                <%= number_field_tag :arepad, min: 0 %>
            </div>
          </div>
          <% end %>
          <div class="field">
            <%= label :ahbesoin, "Si vous avez besoin d'un hébergement, entrer le nombre de places désirées :" %>
            <%= number_field_tag :ahbesoin, min: 0 %>
          </div>
          <div class="field">
            <%= label :ahprop, "Vous pouvez proposer d'accueillir des capoeiristes, entrer le nombre de places disponibles :" %>
            <%= number_field_tag :ahprop, min: 0 %>
          </div>
          <div class="field">
            <%= label :ahadresse, "Adresse de votre hébergement :" %>
            <%= text_area_tag :ahadresse, nil, class: "form-control"  %>
          </div>
          <div class="field">
            <%= label :ahtelephone, "Un numéro de téléphone où vous joindre :" %>
            <%= text_field_tag :ahtelephone, nil, class: "form-control" %>
          </div>
           <div class="field">
            <%= label :aremarque, "Vos remarques ou demandes spécifiques concernant le Batigrado :" %>
            <%= text_area_tag :aremarque, nil, class: "form-control"  %>
          </div>
      </div>
          <br/>
          <div class="actions text-center">
            <%= f.submit :go, value: "Valider", class: "btn btn-primary btn-lg" %>
          </div>

   <% end %>
<% end %>
