<% if com_batigrado %>
        <% @even_sel = com_batigrado.batigrado_id if com_batigrado.batigrado_id %>
        <% @elefe = @eleves_all.where(:nom => com_batigrado.nom, :prenom => com_batigrado.prenom) if com_batigrado.nom%>
<% end %>
<% if !@even_sel %>
    <%= form_for :resp, :url => {:action => "new"} do |f| %>
        <%= f.label :sel_bat, "Sélectionnez votre évènement:" %>
        <% @batigrados.each.with_index do |batigrado, i| %>
            <br/>
            <% if i == 0 %>
                <%= f.radio_button :sel_bat, batigrado.id, :checked => true %>
            <% else %>
                <%= f.radio_button :sel_bat, batigrado.id %>
            <% end %>
            <%= f.label :sel_bat, batigrado.titre, value: batigrado.id %>
        <% end %>
        <br/>
        <% if @eleves_all.exists? %>
                 <%= f.label :nom, "Sélectionnez le nom de l'élève" %>
                 <%= f.select :nom, options_for_select(@eleves_all.map {|el| el.nom + ', ' + el.prenom}), {}, class: "form-control" %>
        <% else %>
                <%= f.text_field :nom, class: "form-control", placeholder: "Entrez un nom" %>
                <%= f.text_field :prenom, class: "form-control", placeholder: "Entrez un prénom" %>
                <%= f.text_field :nom_grupo, class: "form-control", placeholder: "Entrez le nom de votre groupe" %>
        <% end %>
        <br/>
        <div class="actions text-center">
            <%= f.submit:go, value: "Valider", class: "btn btn-primary btn-lg" %>
        </div>
    <% end %>
<% end %>

<% if @even_sel %>

    <%= form_for(com_batigrado) do |f| %>
      <% if com_batigrado.errors.any? %>
        <div id="error_explanation" class="alert alert-danger" role="alert">
          <h2>Le formulaire ne peut pas être enregistré à cause de <%= pluralize(com_batigrado.errors.count, "erreur") %></h2>

          <ul>
          <% com_batigrado.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <% @batigrado = @batigrados.find(@even_sel) %>
      <div class="text-center">
          <%= image_tag @batigrado.photo.url(:original), class: "img-fluid" %>
          <h3><%= @batigrado.titre %></h3>
          <p><%= @batigrado.description %></p>
      </div>


      <% if !@elefe || !@elefe[0] %> <!-- Capoeiriste extérieur -->
        <p>Bonjour <%= @prenom_ext %>,</p>
        <p>C'est un grand plaisir de vous accueillir à notre batigrado.</p>
        <p>Merci de remplir la suite du formulaire ci-dessous pour vous inscrire.</p>
        <%= f.hidden_field :nom, value: @nom_ext %>
        <%= f.hidden_field :prenom, value: @prenom_ext %>
        <%= f.hidden_field :email, value: current_user.email %>
        <%= f.hidden_field :even_sel, value: @even_sel %>
        <%= f.hidden_field :nom_grupo, value: @grupo_ext %>
        <div class="field">
            <%= f.label :ttshirt, "Taille de T-Shirt (ex: 8ans/S/M...)" %>
            <%= f.text_field :ttshirt, class: "form-control" %>
        </div>

      <hr/>
      <!-- Demande taille corde pour un élève GCC non affilié -->
      <p>Pour les élèves du Grupo Cultura Capoeira :</p>

      <div class="field">
        <%= f.check_box :gradup %>
        <%= f.label :gradup, "Je change de grade" %>
      </div>
      <br/>
      <div class="field">
        <%= f.label :tpant,"Infos pour graduation: Taille pantalon (ex: 8ans/36/42) (sert à définir la taille de la corde)" %>
        <%= f.text_field :tpant, class: "form-control" %>
      </div>

        <hr/>

          <% if @batigrado.tarif_ext %>
          <div class="field text-center">
            <%= f.check_box :bati1 %>
            <%= f.label :bati1, "Je participe au "+@batigrado.titre+" (Tarif: "+@batigrado.tarif_ext.to_s+" euros)" %>
          </div>
          <% end %>
      <% end %>

      <% if com_batigrado %>  <!-- Edition et non création -->
        <% if com_batigrado.batigrado_id %>
            <%= f.hidden_field :nom, value: com_batigrado.nom %>
            <%= f.hidden_field :prenom, value: com_batigrado.prenom %>
            <%= f.hidden_field :email, value: current_user.email %>
            <%= f.hidden_field :even_sel, value: @even_sel %>
            <%= f.hidden_field :nom_grupo, value: com_batigrado.nom_grupo %>
        <% end %>
      <% end %>

      <% if @elefe && @elefe[0] %> <!-- Capoeiriste du GCC -->

        Bonjour <%= @elefe[0].prenom %>,
        <%= f.hidden_field :nom, value: @elefe[0].nom %>
        <%= f.hidden_field :prenom, value: @elefe[0].prenom %>
        <%= f.hidden_field :email, value: current_user.email %>
        <%= f.hidden_field :even_sel, value: @even_sel %>
        <%= f.hidden_field :nom_grupo, value: "Grupo Cultura Capoeira" %>

        <div class="field">
            <%= f.label :ttshirt, "Taille de T-Shirt (ex: 8ans/S/M...)" %>
            <%= f.text_field :ttshirt, class: "form-control" %>
        </div>

        <hr/>

          <% if @batigrado.tarif1 %>
          <%= f.hidden_field :bati1, value: '1' %>
     <!-- <div class="field text-center">
            <%= f.check_box :bati1 %>
            <%= f.label :bati1, "Je participe au "+@batigrado.titre+" (Tarif: "+@batigrado.tarif1.to_s+" euros)" %>
          </div> -->
          <% end %>
          <% if @batigrado.tarif2 %>
          <% tarif2 = @batigrado.tarif1+@batigrado.tarif2 %>
          <div class="field text-center">
            <%= f.check_box :bati2 %>
            <%= f.label :bati2, "Je participe aux 2 évènements associés (Tarif: "+tarif2.to_s+" euros)" %>
          </div>
          <% end %>

      <hr/>

      <div class="field">
        <%= f.check_box :gradup %>
        <%= f.label :gradup, "Je change de grade" %>
      </div>
      <br/>
      <div class="field">
        <%= f.label :tpant,"Infos pour graduation: Taille pantalon (ex: 8ans/36/42) (sert à définir la taille de la corde)" %>
        <%= f.text_field :tpant, class: "form-control" %>
      </div>


    <% end %>

      <hr/>
      <p class="text-center">Informations complèmentaires pour nous aider à mieux préparer l'événement</p>
      <% if @batigrado.tar_rep1 %>
      <div class="field">
        <%= f.check_box :repas1 %>
        <%= f.label :repas1, "Vous pensez commander un repas le samedi midi (prix moyen indicatif: "+@batigrado.tar_rep1.to_s+" euros)" %>
      </div>
      <% end %>
      <% if @batigrado.tar_rep2 %>
      <div class="field">
        <%= f.check_box :repas2 %>
        <%= f.label :repas2, "Vous pensez commander un petit-déjeuner le dimanche matin (prix moyen indicatif: "+@batigrado.tar_rep2.to_s+" euros)" %>
      </div>
      <% end %>
      <% if @batigrado.tar_rep3 %>
      <div class="field">
        <%= f.check_box :repas3 %>
        <%= f.label :repas3, "Vous pensez commander un repas le dimanche midi (prix moyen indicatif: "+@batigrado.tar_rep3.to_s+" euros)" %>
      </div>
      <% end %>
      <% if @batigrado.tar_soiree %>
      <div class="field">
        <%= f.check_box :soiree %>
        <%= f.label :repas3, "Vous pensez participer au repas de la soirée du samedi (prix moyen indicatif: "+@batigrado.tar_soiree.to_s+" euros)" %>
      </div>
      <% end %>

  <!--    <div class="field">
        <%= f.label :reglt, "Choisissez votre mode de réglement:" %>
        <%= f.select :reglt, @reglements.collect { |g| [g, @reglements.index(g)] }, {}, class: "form-control" %>
      </div> -->
      <br/>
      <div class="actions text-center">
        <%= f.submit :go, value: "Valider", class: "btn btn-primary btn-lg" %>
      </div>
   <% end %>
<% end %>
