<p id="notice"><%= notice %></p>

<h1>Inscriptions Batigrados</h1>
<div class="row">
<div class="col-12">
<% if current_user.admin == 1 || current_user.admin == 2 %>

<% @batigrados.each.with_index do |batigrado, i| %>
  <div id="accordion" data-children=".item">
   <div class="item">
    <a data-toggle="collapse" data-parent="#accordion" href="#accordion<%= i %>" aria-expanded="true" aria-controls="accordion<%= i %>">
        <h3 class="text-center"><%= batigrado.titre %></h3>
    </a>
    <div id="accordion<%= i %>" class="collapse" role="tabpanel">
    <table class="table table-responsive">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Prenom</th>
          <th>Grupo</th>
     <!-- <th>Email</th>
          <th>Tshirt</th>
          <th>Abada</th>
          <th class="text-center">1 batigrado</th>
          <th class="text-center">2 batigrados</th>
          <th>Graduation</th>
          <th class="text-center">Repas samedi midi</th>
          <th class="text-center">Petit déjeuner</th>
          <th class="text-center">Repas dimanche midi</th>
          <th>Soirée</th>
          <th>Montant</th>
          <th>Reglt</th> -->
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
      <% @combat_bat = @com_batigrados.where(:batigrado_id => batigrado.id).all %>
      <% @cbat_tri = @combat_bat.sort_by { |e| [ e.nom_grupo, e.nom, e.prenom ] } %>
        <% @cbat_tri.each do |com_batigrado| %>
          <tr>
            <td>
                <% if com_batigrado.elefe_id %>
                    <%= link_to com_batigrado.nom, elefe_path(com_batigrado.elefe_id)  %>
                <% else %>
                    <%= com_batigrado.nom %>
                <% end %>
            </td>
            <td>
                <% if com_batigrado.elefe_id %>
                    <%= link_to com_batigrado.prenom, elefe_path(com_batigrado.elefe_id)  %>
                <% else %>
                    <%= com_batigrado.prenom %>
                <% end %>
            </td>
            <td><%= com_batigrado.nom_grupo %></td>
       <!-- <td><%= com_batigrado.email %></td>
            <td class="text-center"><%= com_batigrado.ttshirt %></td>
            <td class="text-center"><%= com_batigrado.tpant %></td>
            <td class="text-center"><%= com_batigrado.bati1 ? 'X' : ' ' %></td>
            <td class="text-center"><%= com_batigrado.bati2 ? 'X' : ' '  %></td>
            <td class="text-center"><%= com_batigrado.gradup ? 'X' : ' '  %></td>
            <td class="text-center"><%= com_batigrado.repas1 ? 'X' : ' '  %></td>
            <td class="text-center"><%= com_batigrado.repas2 ? 'X' : ' '  %></td>
            <td class="text-center"><%= com_batigrado.repas3 ? 'X' : ' '  %></td>
            <td class="text-center"><%= com_batigrado.soiree ? 'X' : ' '  %></td>
            <td><%= com_batigrado.montant %></td>
            <td><%= com_batigrado.reglt %></td> -->
            <td><%= link_to 'Voir', com_batigrado %></td>
            <td><%= link_to 'Supprimer', com_batigrado, method: :delete, data: { confirm: 'Êtes-vous sûr ?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    </div>
   </div>  
  </div>
<% end %>

<% elsif current_user.admin == 0 %>

    <table class="table table-responsive">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Prenom</th>
          <th>Batigrado</th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @com_batigrados_el.each do |com_batigrado| %>
          <tr>
            <td><%= com_batigrado.nom %></td>
            <td><%= com_batigrado.prenom %></td>
            <td><%= @batigrados.find(com_batigrado.batigrado_id).ville%></td>
            <td><%= link_to 'Voir', com_batigrado %></td>
            <td><%= link_to 'Modifier', edit_com_batigrado_path(com_batigrado) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
<% end %>
</div>
</div>
<br>

<%= link_to 'Retour', root_path %>
