<br/>
<h5>Merci <%= @com_batigrado.prenom %> pour votre inscription,</h5>
<br/>
<h6 style="text-align: left;"><strong><span style="text-decoration: underline;">ATTENTION :</span></strong> Pour de finaliser votre inscription, cliquez sur le panier ou sur le bouton <a href="<%= panier_path %>">Accèder à mes commandes</a>.</h6>
<h6 style="text-align: left;">Pour pouvez aussi inscrire une autre personne en cliquant sur <a href="<%= new_com_batigrado_path %>">S'inscrire à un batigrado</a>.</h6>
<br/>
<p>Vous avez réservé :</p>
<ul>
    <li>un t-shirt taille <%= @com_batigrado.ttshirt %></li>
    <% if @com_batigrado.gradup == true %><li>un changement de grade</li><% end %>
    <% if @com_batigrado.repas1 == true %><li>le repas du samedi midi</li><% end %>
    <% if @com_batigrado.soiree == true %><li>la soirée du samedi</li><% end %>
    <% if @com_batigrado.repas2 == true %><li>le petit déjeuner</li><% end %>
    <% if @com_batigrado.repas3 == true %><li>le repas du dimanche midi</li><% end %>
</ul>

<% bat = Batigrado.find(@com_batigrado.batigrado_id) %>
<p>Vous participez au <%= bat.titre %>. Nous vous donnons rendez-vous le samedi <%= bat.date_bat.strftime("%d/%m/%y") %> à 9h à cette adresse :</p>
<strong>
<p><%= simple_format(bat.adresse) %></p>
<p><%= bat.cp %> <%= bat.ville %></p>
</strong>

<% if @com_batigrado.bati2 == true %>
    <% batiasso = Batigrado.find(bat.batiasso_id) %>
    <p>Vous participez aussi au <%= batiasso.titre %>. Nous vous donnons rendez-vous le samedi <%= batiasso.date_bat.strftime("%d/%m/%y") %> à 9h à cette adresse :</p>
    <strong>
    <p><%= simple_format(batiasso.adresse) %></p>
    <p><%= batiasso.cp %> <%= batiasso.ville %></p>
    </strong>
<% end %>

<% if @com_batigrado.gradup %>Vous nous avez indiqué une taille de pantalon <%= @com_batigrado.tpant %> pour définir la taille de votre corde.</p><% end %>

<% if @com_batigrado.hbesoin %>
    <p>Nous avons bien noté que vous avez besoin de <%= @com_batigrado.hbesoin %> place(s) d'hébergement pour le <%= bat.titre %>. Nous vous tiendrons informés par mail des possibilités d'accueil.</p>
<% end %>

<% if @com_batigrado.hprop %>
    <p>Nous vous remercions beaucoup pour votre proposition de <%= @com_batigrado.hprop %> place(s) d'hébergement pour le <%= bat.titre %>.</p>
    <p>Vous nous avez donné cette adresse :</p>
    <p><%= simple_format(@com_batigrado.hadresse) %></p>
    <p> Et ce numéro de téléphone : <%= @com_batigrado.htelephone %></p>
<% end %>
<% if @com_batigrado.bati2 == true %>
    <p>Pour le <%= batiasso.titre %>, vous pouvez retrouver les informations d'hébergement dans <%= link_to "Mes Batigrados", com_batigrados_path %></p>
<% end %>

<% if !current_user.commandes.where(sold: true).all.any? { |com| com.com_batigrado_id == @com_batigrado.id } %>
    <% if @com_batigrado.elefe_id %>
        <p>Pour finaliser votre inscription au <strong><%= @batigrado.titre %></strong>, il ne vous reste plus qu'à effectuer votre réglement de <strong><%= sprintf("%.2f", @com_batigrado.montant) %></strong> euros.</p>
        <br/>
        <p class="text-center"><%= link_to "Accèder à mes commandes", panier_path, class: "btn btn-outline-primary" %></p>
    <% else %>
        <!-- <p>Pour de finaliser votre inscription, cliquez sur le panier ou sur le bouton <a href="<%= panier_path %>">Accéder à mes commandes</a>.</p>
        <br/> -->
        <p class="text-center"><%= link_to "S'incrire à un batigrado", new_com_batigrado_path, class: "btn btn-outline-primary" %></p>
        <p class="text-center"><%= link_to "Accèder à mes commandes", panier_path, class: "btn btn-outline-primary" %></p>
    <% end %>
<% else %>
    <p>Votre commande a bien été envoyée.</p>
<% end %>
<p>A bientôt,</p>
<!-- <p>
  <strong>Nom:</strong>
  <%= @com_batigrado.nom %>
</p>

<p>
  <strong>Prenom:</strong>
  <%= @com_batigrado.prenom %>
</p>

<p>
  <strong>Nom grupo:</strong>
  <%= @com_batigrado.nom_grupo %>
</p>

<p>
  <strong>Email:</strong>
  <%= @com_batigrado.email %>
</p>

<p>
  <strong>Ttshirt:</strong>
  <%= @com_batigrado.ttshirt %>
</p>

<p>
  <strong>Tpant:</strong>
  <%= @com_batigrado.tpant %>
</p>

<p>
  <strong>Bati1:</strong>
  <%= @com_batigrado.bati1 %>
</p>

<p>
  <strong>Bati2:</strong>
  <%= @com_batigrado.bati2 %>
</p>

<p>
  <strong>Gradup:</strong>
  <%= @com_batigrado.gradup %>
</p>

<p>
  <strong>Repas1:</strong>
  <%= @com_batigrado.repas1 %>
</p>

<p>
  <strong>Repas2:</strong>
  <%= @com_batigrado.repas2 %>
</p>

<p>
  <strong>Repas3:</strong>
  <%= @com_batigrado.repas3 %>
</p>

<p>
  <strong>Soiree:</strong>
  <%= @com_batigrado.soiree %>
</p>

<p>
  <strong>Montant:</strong>
  <%= @com_batigrado.montant %>
</p>

<p>
  <strong>Reglt:</strong>
  <%= @com_batigrado.reglt %>
</p> -->
<% if !current_user.commandes.where(sold: true).all.any? { |com| com.com_batigrado_id == @com_batigrado.id } %>
  <%= link_to 'Modifier', edit_com_batigrado_path(@com_batigrado) %> |
<% end %>

<%= link_to 'Retour',  request.referer.present? ? request.referer : root_path %>
