<p id="notice"><%= notice %></p>

<p>Pour finaliser votre inscription au <strong><%= @batigrado.titre %></strong>, il ne vous reste plus qu'à nous faire parvenir votre réglement de <strong><%= sprintf("%.2f", @com_batigrado.montant) %></strong> euros par le responsable communication de votre ville.</p>
<p>
  <strong>Nom:</strong>
  <%= @com_batigrado.nom %>
</p>

<p>
  <strong>Prenom:</strong>
  <%= @com_batigrado.prenom %>
</p>

<p>
  <strong>Nom grupo:</strong>
  <%= @com_batigrado.nom_grupo %>
</p>

<p>
  <strong>Email:</strong>
  <%= @com_batigrado.email %>
</p>

<p>
  <strong>Ttshirt:</strong>
  <%= @com_batigrado.ttshirt %>
</p>

<p>
  <strong>Tpant:</strong>
  <%= @com_batigrado.tpant %>
</p>

<p>
  <strong>Bati1:</strong>
  <%= @com_batigrado.bati1 %>
</p>

<p>
  <strong>Bati2:</strong>
  <%= @com_batigrado.bati2 %>
</p>

<p>
  <strong>Gradup:</strong>
  <%= @com_batigrado.gradup %>
</p>

<p>
  <strong>Repas1:</strong>
  <%= @com_batigrado.repas1 %>
</p>

<p>
  <strong>Repas2:</strong>
  <%= @com_batigrado.repas2 %>
</p>

<p>
  <strong>Repas3:</strong>
  <%= @com_batigrado.repas3 %>
</p>

<p>
  <strong>Soiree:</strong>
  <%= @com_batigrado.soiree %>
</p>

<p>
  <strong>Montant:</strong>
  <%= @com_batigrado.montant %>
</p>

<p>
  <strong>Reglt:</strong>
  <%= @com_batigrado.reglt %>
</p>

<%= link_to 'Modifier', edit_com_batigrado_path(@com_batigrado) %> |
<%= link_to 'Retour', com_batigrados_path %>
