<%= form_for(enseignant) do |f| %>
  <% if enseignant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(enseignant.errors.count, "error") %> prohibited this enseignant from being saved:</h2>

      <ul>
      <% enseignant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nom %>
    <%= f.text_field :nom, class:"form-control" %>
  </div>

  <div class="field">
    <%= f.label :prenom, "Prénom" %>
    <%= f.text_field :prenom, class:"form-control" %>
  </div>
  <br/>
  <div class="field">
      <p>Ajoutez une photo au format photo d'identité en jpg, png ou gif (< 1 mo)</p>
      <%= f.file_field :photo %>
  </div>
  <div class="field">
    <%= f.label :graduation %>
    <%= f.select :graduation, @grades_adultes.collect { |g| [g, @grades_adultes.index(g)] }, {}, class: "form-control" %>
  </div>
  <br/>
  <div class="actions text-center">
    <%= f.submit :go, value: "Valider", class: "btn btn-primary btn-lg" %>
  </div>
  <br/>
<% end %>
