<p id="notice"><%= notice %></p>

<h1>Encadrants des cours</h1>

<h3>Corps enseignants</h3>
<table class="table table-striped table-responsive">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Prenom</th>
      <th>Graduation</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @enseignants.where(:graduation => 10..14).sort_by{|e| e.graduation}.reverse.each do |enseignant| %>
      <tr>
        <td><%= enseignant.nom %></td>
        <td><%= enseignant.prenom %></td>
        <td><%= @grades_adultes[enseignant.graduation.to_i] %></td>
        <td><%= link_to 'Voir', enseignant %></td>
        <td><%= link_to 'Modifier', edit_enseignant_path(enseignant) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3>Corps encadrants</h3>
<table class="table table-striped table-responsive">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Prenom</th>
      <th>Graduation</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @enseignants.where(:graduation => 0..9).sort_by{|e| e.graduation}.reverse.each do |enseignant| %>
      <tr>
        <td><%= enseignant.nom %></td>
        <td><%= enseignant.prenom %></td>
        <td><%= @grades_adultes[enseignant.graduation.to_i] %></td>
        <td><%= link_to 'Voir', enseignant %></td>
        <td><%= link_to 'Modifier', edit_enseignant_path(enseignant) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Ajouter un enseignant', new_enseignant_path %> | <%= link_to 'Retour', request.referer.present? ? request.referer : root_path %>
