<br/>
<h5>
  <strong>Nom:</strong>
  <%= @enseignant.nom %>
</h5>
<br/>
<h5>
  <strong>Prénom:</strong>
  <%= @enseignant.prenom %>
</h5>
<br/>
<p>
  <strong>Graduation:</strong>
    <%= @grades_adultes[@enseignant.graduation] %>
</p>

<p>
  <strong>Référant des cours de:</strong>
  <ul>
  <% @cours_ens.each do |c| %>
      <li><%= c.nomvil %> - <%= @typ_cours[c.typcours] %> les <%= c.jour.pluralize %> à <%= c.dateh.hour %>h<%= c.dateh.min %></li>
  <% end %>
  </ul>

</p>

<%= link_to 'Modifier', edit_enseignant_path(@enseignant) %> |
<%= link_to 'Retour',  request.referer.present? ? request.referer : root_path %>
