<p id="notice"><%= notice %></p>

<p>
  <strong>Nom:</strong>
  <%= @enseignant.nom %>
</p>

<p>
  <strong>Prenom:</strong>
  <%= @enseignant.prenom %>
</p>

<p>
  <strong>Graduation:</strong>
    <%= @grades_adultes[@enseignant.graduation] %>
</p>

<%= link_to 'Modifier', edit_enseignant_path(@enseignant) %> |
<%= link_to 'Retour', enseignants_path %>
