<p id="notice"><%= notice %></p>

<p>
  <strong>Nom:</strong>
  <%= @enseignant.nom %>
</p>

<p>
  <strong>Prenom:</strong>
  <%= @enseignant.prenom %>
</p>

<p>
  <strong>Graduation:</strong>
  <%= @enseignant.graduation %>
</p>

<%= link_to 'Edit', edit_enseignant_path(@enseignant) %> |
<%= link_to 'Back', enseignants_path %>
