<%= form_for(elefe) do |f| %>
  <% if elefe.errors.any? %>
    <div id="error_explanation" class="alert alert-danger" role="alert">
      <h2>Le formulaire ne peut pas être enregistré à cause de <%= pluralize(elefe.errors.count, "erreur") %></h2>

      <ul>
      <% elefe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="container">

<div class="row">
    <div class="col-12"><h3>Identification</h3></div>
</div>

<div class="row">
    <div class="col-12">
        <p>Ajoutez votre photo au format photo d'identité en jpg, png ou gif (< 1 mo)</p>
        <%= f.file_field :photo %>
    </div>
</div>

<div class="row">
  <div class="col-12 col-md-6 field">
    <%= f.label :nom %>
    <%= f.text_field :nom, class: "form-control" %>
  </div>
  <div class="col-12 col-md-6 field">
    <%= f.label :prenom, "Prénom" %>
    <%= f.text_field :prenom, class: "form-control" %>
  </div>
</div>

<div class="row">
  <div class="col-12 col-md-6 field">
    <%= f.label :date_naissance, "Date de naissance" %><br />
    <%= f.date_select :date_naissance, order: [:day, :month, :year], class: "form-control", start_year: 1900 %>
  </div>
  <div class="col-12 col-md-6 field">
        <%= f.label :email %>
        <%= f.text_field :email, value: current_user.email, class: "form-control" %>
  </div>
</div>

<div class="row">
  <div class="col-12 col-md-6 field">
    <%= f.label :rue, "Rue/Lieu-dit" %>
    <%= f.text_field :rue, class: "form-control" %>
  </div>
  <div class="col-4 col-md-2 field">
    <%= f.label :cp, "Code Postal" %>
    <%= f.text_field :cp, class: "form-control" %>
  </div>
  <div class="col-8 col-md-4 field">
    <%= f.label :ville %>
    <%= f.text_field :ville, class: "form-control" %>
  </div>
</div>

<div class="row">
  <div class="col-12 col-md-6 field">
    <%= f.label :tel_mobile, "Tél. portable" %>
    <%= f.text_field :tel_mobile, class: "form-control" %>
  </div>
  <div class="col-12 col-md-6 field">
    <%= f.label :tel_fixe, "Tél. fixe" %>
    <%= f.text_field :tel_fixe, class: "form-control" %>
  </div>
</div>

<div class="row">
  <div class="col-12 col-md-6 field">
    <%= f.label :graduation %>
      <%= f.select :graduation, @grades_adultes.collect { |g| [g, @grades_adultes.index(g)] }, {}, class: "form-control" %>
  </div>
    <div class="col-12 col-md-6 field">
        <%= f.label :ville_entrainement, "Ville d'entraînement principale : " %>
        <%= f.select :ville_entrainement, @list_cours.collect { |g| [g, @list_cours.index(g)+1] }, {}, class: "form-control" %>
    </div>
</div>
 <br/>
<div class="row">
  <div class="col-12">
      <h3>Particularités médicales</h3>
      <p>Une visite médicale est nécessaire à la pratique de cet Art Martial. Cette visite doit être passée et l’attestation rendue tous les 3 ans, impérativement dans un délai de 15 jours après l’affiliation ou
        renouvellement.</p>
       <p>Ajoutez votre certificat médical en jpg, png, gif ou pdf (< 1 mo)</p>
       <%= f.file_field :certifmed %>
  </div>
</div>

<div class="row">
    <div class="col-12 field">
        <%= f.label :a_signaler,"Maladie/Traitement/Autre à signaler" %>
        <%= f.text_area :a_signaler, class: "form-control" %>
     </div>
</div>

<div class="row">
  <div class="col-12"><h6>Personne à prévenir en cas d’urgence</h6></div>

  <div class="col-6 field">
    <%= f.label :urgence_nom, "Nom" %>
    <%= f.text_field :urgence_nom, class: "form-control" %>
  </div>

  <div class="col-6 field">
    <%= f.label :urgence_prenom, "Prénom" %>
    <%= f.text_field :urgence_prenom, class: "form-control" %>
  </div>

  <div class="col-12 field">
    <%= f.label :urgence_parentee, "Lien de parenté" %>
    <%= f.text_field :urgence_parentee, class: "form-control" %>
  </div>

  <div class="col-12 field">
    <%= f.label :urgence_tel, "Téléphone" %>
    <%= f.text_field :urgence_tel, class: "form-control" %>
  </div>

  <div class="col-12"><p>J'autorise le représentant de l’Association Culture Brésil à prendre toute décision destinée à faire donner les soins médicaux chirurgicaux qui pourraient être nécessaires à :
  </p></div>

  <div class="col-6 field">
    <%= f.check_box :soin_moi %>
    <%= f.label :soin_moi, "Moi-même" %>
  </div>

  <div class="col-6 field">
    <%= f.check_box :soin_tutelle %>
    <%= f.label :soin_tutelle, "Mon fils, ma fille, le mineur sous ma tutelle" %>
  </div>
</div>

<div class="row">
  <div class="col-12 field">
  <p>Je souhaite être informé(e) des imprévus pouvant avoir lieu sur les cours dans villes de :</p>
  <% @cours.each do |c| %>
    <%= f.check_box :info_ville, {multiple: true}, c.id, nil %>
    <%= f.label :info_ville, c.nomvil %>
  <% end %>
  </div>
</div>

<div class=row">
  <div class="col-12 field">
      <p>Comment avez-vous connu le Grupo Cultura Capoeira ?</p>
      <%=  f.number_field :gcc_connait %>
  </div>
</div>
<br/>
          <div class="row">
              <div class="col-12">
                  <h3>Documents rendus aux affiliés</h3>
                  <>Je reconnais avoir pris connaissance des informations générales du Grupo Cultura Capoeira et m’engage à les respecter.
                      Je reconnais pouvoir consulter<a href="https://www.grupoculturacapoeira.com/mediatheque-photo-video.html#Documents" target="_blank"> le Livret d’Accueil et le Chronogramme d’activités.</a></p>
              </div>
          </div>
          <div class="row">
              <div class="col-12">
                  <h3>Réglement cotisation annuelle</h3>
                  <p>Je reconnais avoir pris connaissance des informations générales du Grupo Cultura Capoeira et m’engage à les respecter.
                      Je reconnais avoir reçu un exemplaire du Livret d’Accueil et du Chronogramme d’activités.</p>
                  <p>Important :</p>
                  <ul>
                      <li>Pour le cas de plusieurs élèves de la même famille (habitant la même maison), un d’entre eux règle le tarif plein le deuxième à une remise de 50%, le troisième gratuit et tous les autres ont une remise de 50% sur leur affiliation.</li>
                      <li>Le règlement se fait en totalité en espèces, tickets CAF-ANCV-MSA ou chèque à l’ordre de l’Association Culture Brésil.</li>
                      <li>L’inscription se fait à l’année. En cas d’abandon de l’activité par l’élève, aucun remboursement ne sera effectué par l’Association.</li>
                      <li>L’élève qui choisit un cours par semaine ne peut pas changer son jour d’entraînement comme il le souhaite, ni substituer ses absences par d’autres cours dans d’autres villes sauf pour des raisons professionnelles ou médicales. Dans ce cas, il faudra remettre une attestation à l’association.</li>
                      <li>Une facture sera émise par l’association et mise à disposition de l’affilié sur demande communiquée par email ou courrier postal pour une durée de 3ans.</li>
                  </ul>
              </div>
          </div>

<div class="row">
    <div class="col-12">
        <h4>Tarif Cotisation Annuelle</h4>
        <h5>(cocher l'option souhaitée)</h5>
    </div>
</div>

<div class="row">
  <div class="field">
    <%= f.label :parentee %>
    <%= f.number_field :parentee, class: "form-control" %>
  </div>
</div>

<div class="field">
    <%= f.label :prix %>
    <%= f.number_field :prix, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :reglement %>
    <%= f.number_field :reglement, class: "form-control" %>
  </div>

<!--  <div class="field">
    <%= f.label :signature %>
    <%= f.check_box :signature, class: "form-control" %>
  </div> -->
<br />
  <div class="col-12 actions text-center">
    <%= f.submit :go, value: "Valider", class: "btn btn-primary btn-lg" %>
  </div>
<br />
<% end %>

</div>