<p id="notice"><%= notice %></p>

<% if current_user %>
<% if current_user.admin == 0 %>
    <h1>Mes fiches d'affiliation</h1>
    <% if @eleves_cu != nil %>
    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Grade</th>
                <th>Ville</th>
                <th colspan="3"></th>
            </tr>
        </thead>
        <tbody>
        <% @eleves_cu.each do |elefe| %>
            <td><%= elefe.nom %></td>
            <td><%= elefe.prenom %></td>
            <td><%= elefe.graduation %></td>
            <td><%= elefe.ville_entrainement %></td>
            <td><%= link_to 'Voir', elefe %></td>
            <td><%= link_to 'Modifier', edit_elefe_path(elefe) %></td>
            <td><%= link_to 'Effacer', elefe, method: :delete, data: { confirm: 'Êtes-vous sûr ?' } %></td>
        <% end %>
        </tbody>
    </table>
    <% else %>
       <p>Aucune fiches</p>
    <% end %>
<% end %>

<% if current_user.admin == 1 %>
<h1>Eleves</h1>

<table class="table">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Prénom</th>
      <!-- <th>Rue</th>
      <th>Cp</th>
      <th>Ville</th>
      <th>Email</th>
      <th>Date naissance</th>
      <th>Tel mobile</th>
      <th>Tel fixe</th> -->
      <th>Graduation</th>
      <th>Ville</th>
      <!-- <th>A signaler</th>
      <th>Urgence nom</th>
      <th>Urgence prenom</th>
      <th>Urgence parentee</th>
      <th>Urgence tel</th>
      <th>Soin moi</th>
      <th>Soin tutelle</th>
      <th>Info ville</th>
      <th>Gcc connait</th>
      <th>Parentee</th>
      <th>Prix</th>
      <th>Reglement</th>
      <th>Signature</th> -->
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @eleves.each do |elefe| %>
      <tr>
        <td><%= elefe.nom %></td>
        <td><%= elefe.prenom %></td>
        <!-- <td><%= elefe.rue %></td>
        <td><%= elefe.cp %></td>
        <td><%= elefe.ville %></td>
        <td><%= elefe.email %></td>
        <td><%= elefe.date_naissance %></td>
        <td><%= elefe.tel_mobile %></td>
        <td><%= elefe.tel_fixe %></td> -->
        <td><%= elefe.graduation %></td>
        <td><%= elefe.ville_entrainement %></td>
        <!-- <td><%= elefe.a_signaler %></td>
        <td><%= elefe.urgence_nom %></td>
        <td><%= elefe.urgence_prenom %></td>
        <td><%= elefe.urgence_parentee %></td>
        <td><%= elefe.urgence_tel %></td>
        <td><%= elefe.soin_moi %></td>
        <td><%= elefe.soin_tutelle %></td>
        <td><%= elefe.info_ville %></td>
        <td><%= elefe.gcc_connait %></td>
        <td><%= elefe.parentee %></td>
        <td><%= elefe.prix %></td>
        <td><%= elefe.reglement %></td>
        <td><%= elefe.signature %></td> -->
        <td><%= link_to 'Voir', elefe %></td>
        <td><%= link_to 'Modifier', edit_elefe_path(elefe) %></td>
        <td><%= link_to 'Effacer', elefe, method: :delete, data: { confirm: 'Êtes-vous sûr ?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<br>

<%= link_to 'Ajouter un élève', new_elefe_path %>
<% end %>