<p id="notice"><%= notice %></p>

<% if current_user %>
<% if current_user.admin == 0 %>
    <h1>Mes fiches d'affiliation</h1>
    <% if @eleves_cu != nil %>
    <table class="table table-striped table-responsive">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Grade</th>
                <th>Ville</th>
                <th colspan="2"></th>
            </tr>
        </thead>
        <tbody>
        <% @eleves_cu.each do |elefe| %>
        <tr>
            <td><%= elefe.nom %></td>
            <td><%= elefe.prenom %></td>
            <td><%= @grades_adultes[elefe.graduation.to_i] %></td>
            <td><%= @cours.find_by(:id => elefe.ville_entrainement).nomvil %></td>
            <td><%= link_to 'Voir', elefe %></td>
            <td><%= link_to 'Modifier', edit_elefe_path(elefe) %></td>
            <% if !elefe.signature || elefe.signature == false %><td class="text-center blink_text">En attente de validation</td><% end %>
        </tr>
        <% end %>
        </tbody>
    </table>
    <% else %>
       <p>Aucune fiches</p>
    <% end %>

    <!-- Anciennes Fiches ? -->
    <% if @archive_eleves.where(:user_id => current_user.id).exists? %>
        <% @ancien_eleves = @archive_eleves.where(:user_id => current_user.id).all %>
        <br/>
        <h3>Mes anciennes fiches</h3>
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Grade</th>
                        <th>Ville</th>
                        <th colspan="2"></th>
                    </tr>
                </thead>
                <tbody>
                <% @ancien_eleves.each do |elefe| %>
                <tr>
                    <td><%= elefe.nom %></td>
                    <td><%= elefe.prenom %></td>
                    <td><%= @grades_adultes[elefe.graduation.to_i] %></td>
                    <td><%= @cours.find_by(:id => elefe.ville_entrainement).nomvil %></td>
                    <td></td>
                    <td><%= link_to 'Réinscire', edit_elefe_path(elefe) %></td>
                </tr>
                <% end %>
                </tbody>
            </table>
    <% end %>
<% end %>

<% if current_user.admin == 1 %>
<h1>Eleves</h1>
<% @cours.each do |c| %>
    <hr/>
    <% @el_cour = @eleves.where(:ville_entrainement => c.id).all %>
    <h6><a data-toggle="collapse" href="#coll_tabl<%= c.id %>" aria-expanded="false" aria-controls="coll_tabl<%= c.id %>">Elèves du cours <%= @typ_cours[c.typcours] %> de <%= c.nomvil %></a><em> (<%= @el_cour.count %> élève(s))</em></h6>
    <div class="collapse" id="coll_tabl<%= c.id %>">
    <table class="table table-striped table-responsive">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Prénom</th>
          <th>Graduation</th>
          <th>Ville</th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @el_cour.each do |elefe| %>
          <tr>
            <td <% if !elefe.signature %>bgcolor="#FF0000"<% end %>><%= elefe.nom %></td>
            <td <% if !elefe.signature %>bgcolor="#FF0000"<% end %>><%= elefe.prenom %></td>
            <td><% if elefe.email %><%= @grades_adultes[elefe.graduation.to_i] %><% end %></td>
            <td><%= @cours.find_by(:id => elefe.ville_entrainement).nomvil %></td>
            <td><% if elefe.email %><%= link_to 'Voir', elefe %><% else %>Elève non inscrit<% end %></td>
            <!-- <td><%= link_to 'Modifier', edit_elefe_path(elefe) %></td> -->
            <% if !elefe.signature || elefe.signature == false %>
               <td><% if elefe.email %><%= link_to 'Valider', valid_elefe_path(elefe), data: { confirm: 'Valider la fiche de cet élève ?' } %>
                   <% else %><%= elefe.etats.count %> présence(s) - <%= elefe.cours.count %> cour(s)<% end %>
               </td>
            <% end %>
            <% if elefe.signature == true %><td><%= link_to 'Désinscrire', valid_elefe_path(elefe), data: { confirm: 'Désinscrire cet élève ?' } %></td><% end %>
            <!-- <td><%= link_to 'Effacer', elefe, method: :delete, data: { confirm: 'Êtes-vous sûr ?' } %></td> -->
          </tr>
        <% end %>
      </tbody>
    </table>
    </div>
<% end %>
<% end %>

<% if current_user.admin == 2 %>
<% @cours.each do |cour| %>
         <h4><%= cour.nomvil %> cours <%= @typ_cours[cour.typcours] %></h4>
            <table class="table table-striped table-responsive">
              <thead>
                <tr>
                  <th>Nom</th>
                  <th>Prénom</th>
                  <th>Graduation</th>
                  <th colspan="2"></th>
                </tr>
              </thead>

              <tbody>
                    <% @eleves_cours = cour.eleves %>
                    <% @eleves_cours.each do |elefe| %>
                          <tr>
                            <td <% if !elefe.signature %>bgcolor="#FF0000"<% end %>><%= elefe.nom %></td>
                            <td <% if !elefe.signature %>bgcolor="#FF0000"<% end %>><%= elefe.prenom %></td>
                            <td><% if elefe.email %><%= @grades_adultes[elefe.graduation.to_i] %><% end %></td>
                            <td><% if elefe.email %><%= link_to 'Voir', elefe %><% else %>Elève non inscrit<% end %></td>
                            <% if !elefe.signature || elefe.signature == false %>
                                <td><% if elefe.email %><%= link_to 'Valider', valid_elefe_path(elefe), data: { confirm: 'Valider la fiche de cet élève ?' } %>
                                    <% else %><%= elefe.etats.count %> présence(s) - <%= elefe.cours.count %> cour(s)<% end %>
                                    </td>
                            <% end %>
                            <% if elefe.signature == true %><td><%= link_to 'Désinscrire', valid_elefe_path(elefe), data: { confirm: 'Désinscrire cet élève ?' } %></td><% end %>
                          </tr>
                        <% end %>
              </tbody>
            </table>
        <% end %>
<% end %>

<br>

<% if current_user.admin == 0 %><%= link_to 'Nouvelle affiliation', new_elefe_path %> | <% end %><%= link_to 'Retour', root_path %>
<% end %>