<p id="notice"><%= notice %></p>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>FICHE ELEVE</h1>
        </div>
    </div>
    <%= image_tag("photo-anonyme.jpg", alt: "Photo identité", id: "photo-identite") %>
    <div class="row">
        <div class="col-6">
            <strong>Nom:</strong>
            <%= @elefe.nom %>
        </div>
        <div class="col-6">
            <strong>Prenom:</strong>
            <%= @elefe.prenom %>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <strong>Rue:</strong>
            <%= @elefe.rue %>
        </div>
        <div class="col-6">
            <strong>Date naissance:</strong>
            <%= @elefe.date_naissance %>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <strong>Code postal:</strong>
            <%= @elefe.cp %>
        </div>
        <div class="col-4">
            <strong>Ville:</strong>
            <%= @elefe.ville %>
        </div>
        <div class="col-6">
            <strong>Email:</strong>
            <%= @elefe.email %>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <strong>Tel mobile:</strong>
            <%= @elefe.tel_mobile %>
        </div>
        <div class="col-6">
            <strong>Tel fixe:</strong>
            <%= @elefe.tel_fixe %>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-6">
            <strong>Graduation:</strong>
            <%= @elefe.graduation %>
        </div>
        <div class="col-6">
            <strong>Ville entrainement:</strong>
            <%= @elefe.ville_entrainement %>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-12">
            <h3>Particularités médicales</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-12 field">
            <strong>Maladie/Traitement/Autre à signaler:</strong>
            <%= @elefe.a_signaler %>
        </div>
     </div>
    <div class="row">
        <div class="col-12"><h6>Personne à prévenir en cas d’urgence</h6></div>

        <div class="col-6 field">
            <strong>Nom:</strong>
            <%= @elefe.urgence_nom %>
        </div>

         <div class="col-6 field">
             <strong>Urgence prenom:</strong>
             <%= @elefe.urgence_prenom %>
         </div>

         <div class="col-12 field">
             <strong>Lien de parenté:</strong>
             <%= @elefe.urgence_parentee %>
         </div>

         <div class="col-12 field">
             <strong>Téléphone:</strong>
             <%= @elefe.urgence_tel %>
         </div>

         <div class="col-12">
             <p>J'autorise le représentant de l’Association Culture Brésil à prendre toute décision destinée à faire donner les soins médicaux chirurgicaux qui pourraient être nécessaires à :</p>
             <%= @elefe.soin_moi %><%= @elefe.soin_tutelle %>
         </div>
     </div>
    <div class="row">
        <div class="col-12">
            <p>Je souhaite être informé(e) des imprévus pouvant avoir lieu sur les cours dans villes de :</p>
            <%= @elefe.info_ville %>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p>Je connais le GCC grâce à:</p>
            <%= @elefe.gcc_connait %>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-12">
            <h3>Réglement cotisation annuelle</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <strong>Option famille:</strong>
            <%= @elefe.parentee %>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <strong>Montant du réglement:</strong>
            <%= @elefe.prix %>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <strong>Type réglement:</strong>
            <%= @elefe.reglement %>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <strong>Inscription complète ?</strong>
            <%= @elefe.signature %>
        </div>
    </div>
</div>
<br/>
<%= link_to 'Modifier', edit_elefe_path(@elefe) %> |
<%= link_to 'Retour', eleves_path %>
