<p id="notice"><%= notice %></p>

<p>
  <strong>Nom:</strong>
  <%= @elefe.nom %>
</p>

<p>
  <strong>Prenom:</strong>
  <%= @elefe.prenom %>
</p>

<p>
  <strong>Rue:</strong>
  <%= @elefe.rue %>
</p>

<p>
  <strong>Cp:</strong>
  <%= @elefe.cp %>
</p>

<p>
  <strong>Ville:</strong>
  <%= @elefe.ville %>
</p>

<p>
  <strong>Email:</strong>
  <%= @elefe.email %>
</p>

<p>
  <strong>Date naissance:</strong>
  <%= @elefe.date_naissance %>
</p>

<p>
  <strong>Tel mobile:</strong>
  <%= @elefe.tel_mobile %>
</p>

<p>
  <strong>Tel fixe:</strong>
  <%= @elefe.tel_fixe %>
</p>

<p>
  <strong>Graduation:</strong>
  <%= @elefe.graduation %>
</p>

<p>
  <strong>Ville entrainement:</strong>
  <%= @elefe.ville_entrainement %>
</p>

<p>
  <strong>A signaler:</strong>
  <%= @elefe.a_signaler %>
</p>

<p>
  <strong>Urgence nom:</strong>
  <%= @elefe.urgence_nom %>
</p>

<p>
  <strong>Urgence prenom:</strong>
  <%= @elefe.urgence_prenom %>
</p>

<p>
  <strong>Urgence parentee:</strong>
  <%= @elefe.urgence_parentee %>
</p>

<p>
  <strong>Urgence tel:</strong>
  <%= @elefe.urgence_tel %>
</p>

<p>
  <strong>Soin moi:</strong>
  <%= @elefe.soin_moi %>
</p>

<p>
  <strong>Soin tutelle:</strong>
  <%= @elefe.soin_tutelle %>
</p>

<p>
  <strong>Info ville:</strong>
  <%= @elefe.info_ville %>
</p>

<p>
  <strong>Gcc connait:</strong>
  <%= @elefe.gcc_connait %>
</p>

<p>
  <strong>Parentee:</strong>
  <%= @elefe.parentee %>
</p>

<p>
  <strong>Prix:</strong>
  <%= @elefe.prix %>
</p>

<p>
  <strong>Reglement:</strong>
  <%= @elefe.reglement %>
</p>

<p>
  <strong>Signature:</strong>
  <%= @elefe.signature %>
</p>

<%= link_to 'Modifier', edit_elefe_path(@elefe) %> |
<%= link_to 'Retour', eleves_path %>
