<%= form_for(cour) do |f| %>
  <% if cour.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cour.errors.count, "error") %> prohibited this cour from being saved:</h2>

      <ul>
      <% cour.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
        <%= f.label :enseignant_id, "Enseignant référant" %>
        <%= f.select :enseignant_id, @enseignants.collect { |p| [p.nom, p.id] } %>
    </div>

  <div class="field">
    <%= f.label :nomvil, "Nom de la ville", class: "form-label" %>
    <%= f.text_field :nomvil %>
  </div>

  <div class="field">
    <%= f.label :adresse, "Adresse" %>
    <%= f.text_area :adresse %>
  </div>

  <div class="field">
    <%= f.label :cp, "Code Postal" %>
    <%= f.text_field :cp %>
  </div>

  <div class="field">
    <%= f.label :telephon, "Téléphone" %>
    <%= f.text_field :telephon %>
  </div>

  <div class="field">
    <%= f.label :typcours, "Type de cours" %><br />
    <%= f.radio_button :typcours, 0 %>
    <%= f.label :typcours, "Adultes" %>
    <%= f.radio_button :typcours, 1 %>
    <%= f.label :typcours, "Enfants" %>
    <%= f.radio_button :typcours, 2 %>
    <%= f.label :typcours, "Mixte" %>
  </div>

  <div class="field">
    <%= f.label :jour, "Jour du cours" %>
    <%= f.select :jour, ['lundi', 'mardi','mercredi','jeudi','vendredi','samedi','dimanche'] %>
  </div>

  <div class="field">
    <%= f.label :dateh, "Heure de début du cours" %>
    <%= f.time_select :dateh %>
  </div>

  <div class="field">
    <%= f.label :duree, "Durée du cours" %>
    <%= f.time_select :duree %>
  </div>

  <div class="actions">
    <%= f.submit :go, value: "Valider", class: "btn btn-primary" %>
  </div>
<% end %>
