<p id="notice"><%= notice %></p>

<p>
  <strong>Nomvil:</strong>
  <%= @cour.nomvil %>
</p>

<p>
  <strong>Adresse:</strong>
  <%= @cour.adresse %>
</p>

<p>
  <strong>Cp:</strong>
  <%= @cour.cp %>
</p>

<p>
  <strong>Telephon:</strong>
  <%= @cour.telephon %>
</p>

<p>
  <strong>Typcours:</strong>
  <%= @cour.typcours %>
</p>

<p>
  <strong>Dateh:</strong>
  <%= @cour.dateh %>
</p>

<p>
  <strong>Duree:</strong>
  <%= @cour.duree %>
</p>

<%= link_to 'Edit', edit_cour_path(@cour) %> |
<%= link_to 'Back', cours_path %>
