<p id="notice"><%= notice %></p>

<p>
    <strong>Enseignant référant :</strong>
    <%= @enseignant.nom %>
</p>

<p>
  <strong>Ville :</strong>
  <%= @cour.nomvil %>
</p>

<p>
  <strong>Adresse :</strong>
  <%= @cour.adresse %>
</p>

<p>
  <strong>Code postal :</strong>
  <%= @cour.cp %>
</p>

<p>
  <strong>Telephone :</strong>
  <%= @cour.telephon %>
</p>

<p>
  <strong>Type de cours :</strong>
  <% if @cour.typcours == 0 %>
    Adultes
  <% elsif @cour.typcours == 1 %>
    Enfants
  <% elsif @cour.typcours == 2 %>
    Mixte
  <% end %>
</p>

<p>
    <strong>Jour du cours :</strong>
    <%= @cour.jour %>
</p>
<p>
  <strong>Heure :</strong>
  <%= @cour.dateh.hour %>h<%= (@cour.dateh.min != 0 ? @cour.dateh.min : "") %>
</p>

<p>
  <strong>Durée :</strong>
  <%= @cour.duree.hour %>h<%= (@cour.duree.min != 0 ? @cour.duree.min : "") %>
</p>

<%= link_to 'Modifier', edit_cour_path(@cour) %> |
<%= link_to 'Retour', cours_path %>
