<br/>
<p>
    <strong>Enseignant référant :</strong>
    <%= @enseignant.prenom %> <%= @enseignant.nom %>
</p>

<p>
  <strong>Ville :</strong>
  <%= @cour.nomvil %>
</p>

<p>
  <strong>Adresse :</strong>
  <%= @cour.adresse %>
</p>

<p>
  <strong>Code postal :</strong>
  <%= @cour.cp %>
</p>

<p>
  <strong>Telephone :</strong>
  <%= @cour.telephon %>
</p>

<p>
  <strong>Type de cours :</strong>
  <% if @cour.typcours == 0 %>
    Adultes
  <% elsif @cour.typcours == 1 %>
    Enfants
  <% elsif @cour.typcours == 2 %>
    Mixte
  <% end %>
</p>

<p><% if @cour.acb %><strong>Cours géré par l'Association Culture Brésil (ACB)</strong><% else %><strong>Cours géré par une mairie</strong><% end %></p>

<p>
    <strong>Jour du cours :</strong>
    <%= @cour.jour %>
</p>
<p>
  <strong>Heure :</strong>
  <%= @cour.dateh.hour %>h<%= (@cour.dateh.min != 0 ? @cour.dateh.min : "") %>
</p>

<p>
  <strong>Durée :</strong>
  <%= @cour.duree.hour %>h<%= (@cour.duree.min != 0 ? @cour.duree.min : "") %>
</p>

<p>
    <strong>Login du référant:</strong>
    <%= @mail_ref %>
</p>

<p>
    <strong>Login de gestion des présences:</strong>
    <%= @mail_pres %>
</p>

<%= link_to 'Modifier', edit_cour_path(@cour) %> |
<%= link_to 'Retour',  request.referer.present? ? request.referer : root_path %>
