<p id="notice"><%= notice %></p>

<h1>Repasgccs</h1>

<table>
  <thead>
    <tr>
      <th>Titre</th>
      <th>Adresse</th>
      <th>Date repas</th>
      <th>Date lim</th>
      <th>Repas1 enf</th>
      <th>R1e tarif</th>
      <th>Repas2 enf</th>
      <th>R2e tarif</th>
      <th>Repas1 ad</th>
      <th>R1a tarif</th>
      <th>Repas2 ad</th>
      <th>R2a tarif</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @repasgccs.each do |repasgcc| %>
      <tr>
        <td><%= repasgcc.titre %></td>
        <td><%= repasgcc.adresse %></td>
        <td><%= repasgcc.date_repas %></td>
        <td><%= repasgcc.date_lim %></td>
        <td><%= repasgcc.repas1_enf %></td>
        <td><%= repasgcc.r1e_tarif %></td>
        <td><%= repasgcc.repas2_enf %></td>
        <td><%= repasgcc.r2e_tarif %></td>
        <td><%= repasgcc.repas1_ad %></td>
        <td><%= repasgcc.r1a_tarif %></td>
        <td><%= repasgcc.repas2_ad %></td>
        <td><%= repasgcc.r2a_tarif %></td>
        <td><%= link_to 'Show', repasgcc %></td>
        <td><%= link_to 'Edit', edit_repasgcc_path(repasgcc) %></td>
        <td><%= link_to 'Destroy', repasgcc, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Repasgcc', new_repasgcc_path %>
