<h1><%= @repasgcc.titre %></h1>

<p>
  <strong>Adresse:</strong>
  <%= @repasgcc.adresse %>
</p>

<p>
  <strong>Date repas:</strong>
  <%= @repasgcc.date_repas %>
</p>

<p>
  <strong>Date limite de réservation:</strong>
  <%= @repasgcc.date_lim %>
</p>

<p>
  <strong>Repas enfant 1:</strong>
  <%= @repasgcc.repas1_enf %>
</p>

<p>
  <strong>Tarif:</strong>
  <%= @repasgcc.r1e_tarif %>
</p>

<p>
  <strong>Repas enfant 2:</strong>
  <%= @repasgcc.repas2_enf %>
</p>

<p>
  <strong>Tarif:</strong>
  <%= @repasgcc.r2e_tarif %>
</p>

<p>
  <strong>Repas adulte 1:</strong>
  <%= @repasgcc.repas1_ad %>
</p>

<p>
  <strong>Tarif:</strong>
  <%= @repasgcc.r1a_tarif %>
</p>

<p>
  <strong>Repas adulte 2:</strong>
  <%= @repasgcc.repas2_ad %>
</p>

<p>
  <strong>Tarif:</strong>
  <%= @repasgcc.r2a_tarif %>
</p>

<%= link_to 'Modifier', edit_repasgcc_path(@repasgcc) %> |
<%= link_to 'Retour', repasgccs_path %>
