<h3>Grupo Cultura Capoeira<% if current_user.admin == 1 %> - Bienvenue Mestre<% end %></h3>
<p class="text-right">Dernière connexion le <%= current_user.last_sign_in_at.strftime( '%d/%m/%Y' ) %></p>

<% if current_user %>

<!-- ######################################
              ACCUEIL DU MESTRE
     ###################################### -->

<% if current_user.admin == 1 %>
            <h3>Elèves en attente de validation</h3>
            <% @cours.each do |c| %>
                <% ct = 0 %>
                <% @el_cour = @eleves.where(:ville_entrainement => c.id).all %>
                <% @el_cour.each do |el| %><% if !el.signature %><% ct = ct + 1 %><% end %><% end %>
                <hr/>
                <h6><a data-toggle="collapse" href="#coll_tabl<%= c.id %>" aria-expanded="false" aria-controls="coll_tabl<%= c.id %>">Elèves du cours <%= @typ_cours[c.typcours] %> de <%= c.nomvil %></a><br/>
                <% if ct != 0 %>
                    <em class="blink_text"> (<%= ct  %> inscriptions en attente)</em>
                <% end %>
                </h6>
                <div class="collapse" id="coll_tabl<%= c.id %>">
                <table class="table table-striped table-responsive">
                  <thead>
                    <tr>
                      <th>Nom</th>
                      <th>Prénom</th>
                      <th>Graduation</th>
                      <th colspan="2"></th>
                    </tr>
                  </thead>

                  <tbody>

                    <% @el_cour.each do |elefe| %>
                        <% if !elefe.signature %>
                          <tr>
                            <td <% if !elefe.signature %>bgcolor="#FF0000"<% end %>><%= elefe.nom %></td>
                            <td <% if !elefe.signature %>bgcolor="#FF0000"<% end %>><%= elefe.prenom %></td>
                            <td><% if elefe.email %><%= @grades_adultes[elefe.graduation.to_i] %><% end %></td>
                            <td><% if elefe.email %><%= link_to 'Voir', elefe %><% else %>Elève non inscrit<% end %></td>
                            <% if !elefe.signature || elefe.signature == false %>
                                <td><% if elefe.email %><%= link_to 'Valider', valid_elefe_path(elefe), data: { confirm: 'Valider la fiche de cet élève ?' } %>
                                    <% else %><%= elefe.etats.count %> présence(s) - <%= elefe.cours.count %> cour(s)<% end %>
                                    </td>
                            <% end %>
                            <% if elefe.signature == true %><td><%= link_to 'Désinscrire', valid_elefe_path(elefe), data: { confirm: 'Désinscrire cet élève ?' } %></td><% end %>
                          </tr>
                        <% end %>
                    <% end %>
                  </tbody>
                </table>
                </div>
            <% end %>
            <h3>Paiements en cours</h3>
            <% @users = User.all %>
            <% @users.each do |u| %>
                <% if u.paiements.exists? && u.paiements.last.valide == false %>
                    <ul>
                        <% u.paiements.where(valide: false).all.each.with_index do |p, j| %>
                            <li>
                                <%= u.email %>
                                <% if !u.eleves.exists? %>
                                    (non affilié)
                                <% else %>
                                    (<%= u.eleves.first.nom %>  <%= u.eleves.first.prenom %>)
                                <% end %>
                                 - Le <%= p.updated_at.strftime( '%d/%m/%Y' ) %> -
                                 <%= number_to_currency(p.montant, unit: "", separator: ",", delimiter: "") %> euros -
                                 paiement par <%= @reglements[p.mode_paie] %>
                                 <button type="button" class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#CommandesModal<%= p.id %>">Voir</button>
                                 <span style="display: inline-block;">
                                  <%= form_tag('/valide', method: "post") do |f| %>
                                    <%= hidden_field_tag :paiement, p.id %>
                                    <%= submit_tag "Paiement reçu", data: {confirm: "Êtes-vous sûr de vouloir confirmer ce paiement ? Cette action est irréversible."}, class: "btn btn-outline-success btn-sm" %>
                                  <% end %>
                                  </span>
                             </li>
                        <% end %>
                    </ul>
                <% end %>
            <% end %>

  <!-- Modals Commandes -->

<% @users.each do |u| %>
    <% u.paiements.where(valide: false).all.each.with_index do |p, j| %>
    <div class="modal fade" id="CommandesModal<%= p.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header text-center">
            <h5 class="modal-title" id="exampleModalLabel">Commandes</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
          <ul>
            <% p.commandes.each do |com| %>
                <li><%= com.description %> | <%= number_to_currency(com.montant, unit: "", separator: ",", delimiter: "") %> euros</li>
            <% end %>
          </ul>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
          </div>
        </div>
      </div>
    </div>
    <% end %>
<% end %>


<!-- ######################################
               ACCUEIL DES ELEVES
     ###################################### -->

<% elsif current_user.admin == 0 %>
        <br/>
        <div class="text-center">
            <h4>Bienvenue sur le site administratif de l'association</h4>
            <br/>
            <% if @sold != 0 %>
                <p class="blink_text">Vous avez des commandes en attente de réglement dans votre panier</p>
                <p class="text-center"><%= link_to "Accèder à mes commandes", panier_path, class: "btn btn-outline-primary" %></p>
            <% end %>
            <% if !@current_elefe %>
            <p>Nous vous invitons à vous affilier à l'association par le biais du formulaire en ligne, et d'y joindre les pièces justificatives.</p>
            <br/>
            <p>Vous avez également la possibilité de vous inscrire aux divers événements proposés par l'association.</p>
            <br/>
            <p>Les formulaires d'inscription aux événements apparaitront dès leurs créations.</p>
            <% end %>
        </div>
        <br/>
        <% if !@current_elefe %>
            <div class="text-center">
                <%= link_to "Remplir le formulaire d'affiliation en ligne", new_elefe_path, class:  "btn btn-outline-primary btn-lg btn-block" %>
            </div>
            <br/>
        <% elsif @eleves_current_user != nil %>
            <div class="text-center">
                <%= link_to "Mes formulaires d'affiliation", eleves_path, class:  "btn btn-outline-primary btn-lg btn-block" %>
            </div>
            <br/>
        <% end %>
        <% repasgcc = @repasgccs.last %>
        <% if repasgcc %>
            <% if  !repasgcc.date_repas.past? && @current_elefe %>
                <% @ticket_repa = TicketRepa.find_by(:elefe_id => @current_elefe.id) %>
                <div class="text-center">
                    <% if !@ticket_repa %>
                        <%= link_to "Réservation repas du groupe", new_ticket_repa_path, class:  "btn btn-outline-primary btn-lg btn-block" %>
                    <% else %>
                        <% if !current_user.commandes.where(sold: true).all.any? { |com| com.ticket_repa_id == @ticket_repa.id } %>
                            <%= link_to "Modifier réservation repas", edit_ticket_repa_path(@ticket_repa), class:  "btn btn-outline-success btn-lg btn-block" %>
                        <% end %>
                    <% end %>
                </div>
            <% end %>
        <% end %>
        <br/>
        <% last_batigrado = Batigrado.last %>
        <% if last_batigrado %>
            <% if  !last_batigrado.date_bat.past? %>
                <div class="text-center">
                    <%= link_to "S'inscrire à un batigrado", new_com_batigrado_path, class:  "btn btn-outline-primary btn-lg btn-block" %>
                    <%= link_to "Mes batigrados", com_batigrados_path, class:  "btn btn-outline-success btn-lg btn-block" %>
                </div>
            <% end %>
        <% end %>
        <br/>
        <h3><a data-toggle="collapse" href="#paiements" aria-expanded="false" aria-controls="paiements">Mes réglements</a></h3>
        <% if current_user.paiements.where(valide: false).exists? %><span class="blink_text float-right"><%= pluralize(current_user.paiements.where(valide: false).count, 'paiement') %> en attente</span><% end %>
        <div class="collapse" id="paiements">
            <ul>
            <% current_user.paiements.each do |p| %>
                <li>
                    Le <%= p.updated_at.strftime( '%d/%m/%Y' ) %> : <%= number_to_currency(p.montant, unit: "", separator: ",", delimiter: "") %> euros par <%= @reglements[p.mode_paie] %> -
                    <% if p.valide == true %>
                        reçu
                    <% else %>
                        <span class="blink_text"> en cours</span>
                    <% end %>
                </li>
            <% end %>
            </ul>
        </div>

<!-- ######################################
     ACCUEIL DES GRADES DE MONITOR A MESTRE
     ###################################### -->

<% elsif current_user.admin == 2 %>
    <p>Bonjour <%= @enseignant.prenom %>,</p>
    <p>Voici vos cours cette année :</p>
     <ul>
    <% @cours.each do |cour| %>

        <li>
        <%= link_to cour.nomvil + ' cours ' + @typ_cours[cour.typcours], cour %>
        </li>


    <% end %>
    </ul>

    <h3>Elèves en attente de validation</h3>
         <% @cours.each do |cour| %>
         <h4><%= cour.nomvil %> cours <%= @typ_cours[cour.typcours] %></h4>
            <table class="table table-striped table-responsive">
              <thead>
                <tr>
                  <th>Nom</th>
                  <th>Prénom</th>
                  <th>Graduation</th>
                  <th colspan="3"></th>
                </tr>
              </thead>

              <tbody>
                    <% @eleves_cours = cour.eleves %>
                    <% @eleves_cours.each do |elefe| %>
                        <% if !elefe.signature %>
                          <tr>
                            <td <% if !elefe.signature %>bgcolor="#FF0000"<% end %>><%= elefe.nom %></td>
                            <td <% if !elefe.signature %>bgcolor="#FF0000"<% end %>><%= elefe.prenom %></td>
                            <td><% if elefe.email %><%= @grades_adultes[elefe.graduation.to_i] %><% end %></td>
                            <td><%= @cours.find_by(:id => elefe.ville_entrainement).nomvil %></td>
                            <td><% if elefe.email %><%= link_to 'Voir', elefe %><% else %>Elève non inscrit<% end %></td>
                            <!-- <td><%= link_to 'Modifier', edit_elefe_path(elefe) %></td> -->
                            <% if !elefe.signature || elefe.signature == false %>
                               <td><% if elefe.email %><%= link_to 'Valider', valid_elefe_path(elefe), data: { confirm: 'Valider la fiche de cet élève ?' } %>
                                   <% else %><%= elefe.etats.count %> présence(s) - <%= elefe.cours.count %> cour(s)<% end %>
                               </td>
                            <% end %>
                            <% if elefe.signature == true %><td><%= link_to 'Désinscrire', valid_elefe_path(elefe), data: { confirm: 'Désinscrire cet élève ?' } %></td><% end %>
                          </tr>
                        <% end %>
                    <% end %>
              </tbody>
            </table>
        <% end %>


<!-- ######################################
       ACCUEIL DES RESPONSABLES PRESENCES
     ###################################### -->

<% elsif current_user.admin == 3 %>

                <h6>Bienvenue dans la gestion des présences</h6>
                            <br/>
                <div class="text-center">
                    <%= link_to "Saisir des présences", presencesel_path, class:  "btn btn-outline-primary btn-lg btn-block" %>
                </div>
                <br/>
                <div class="text-center">
                    <%= link_to "Consulter des présences", consulpres_path, class:  "btn btn-outline-primary btn-lg btn-block" %>
                </div>
                <br/>
                <% @cours.each do |c| %>
                    <hr/>
                    <h6><a data-toggle="collapse" href="#coll_tabl<%= c.id %>" aria-expanded="false" aria-controls="coll_tabl<%= c.id %>">Elèves du cours <%= @typ_cours[c.typcours] %> - <%= c.nomvil %></a></h6>
                    <div class="collapse" id="coll_tabl<%= c.id %>">
                        <table class="table table-striped table-responsive">
                            <thead>
                                <tr>
                                    <th>Nom</th>
                                    <th>Prénom</th>
                                    <th>Grade</th>
                                    <th>Tél. fixe</th>
                                    <th>Tél. mobile</th>
                                    <th>Tél. urgence</th>
                                    <th>E mail</th>
                                </tr>
                            </thead>
                            <tbody>

                        <% c.eleves.each do |el| %>
                                <tr>
                                    <td><%= el.nom %></td>
                                    <td><%= el.prenom %></td>
                                    <td><%= @grades_adultes[ el.graduation ] if el.graduation %></td>
                                    <td><%= el.tel_fixe %></td>
                                    <td><%= el.tel_mobile %></td>
                                    <td><%= el.urgence_tel %></td>
                                    <td><%= el.email %></td>
                                </tr>

                        <% end %>
                            </tbody>
                        </table>
                    </div>
                <% end %>
<% end %>

<% end %>
<br/>
