<%= form_for :paiement do |f| %>


<h1>Votre panier</h1>

<table class="table table-responsive table-bordered table-sm">
    <thead>
        <tr>
            <th class="text-center">Commande du</th>
            <th class="text-center">Description</th>
            <th class="text-center">Montant (euros)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% current_user.commandes.each do |com| %>
        <% if com.sold == true%><tr class="table-success"><% else %><tr class="table-danger"><% end %>
            <td class="text-center"><%= com.updated_at.strftime( '%d/%m/%Y' ) %></td>
            <td><%= com.description %></td>
            <td class="text-right"><%= number_to_currency(com.montant, unit: "", separator: ",", delimiter: "") %></td>
            <td class="text-right">
                <% if com.sold == true %><p>réglement envoyé</p>
                    <% paiement = Paiement.find(com.paiement_id) if Paiement.exists?(com.paiement_id)  %>
                    <% if paiement %>
                        <% if paiement.valide %><p>réglement reçu</p><% end %>
                    <% end %>
                <% else %><p class="blink_text">réglement à effectuer</p>
                <% end %>
                <% if paiement %>
                    <% if !paiement.valide %><%= link_to 'Annuler', commande_path(com), method: :delete, data: { confirm: 'Êtes-vous sûr?' } %><% end %>
                <% end %>
            </td>
        </tr>
        <% end %>
        <tr class="table-dark text-white">
            <td></td>
            <td>Total</td>
            <td id="montant" class="text-right"><%= number_to_currency(@sold, unit: "", separator: ",", delimiter: "") %></td>
            <td></td>
        </tr>
    </tbody>
</table>

<% if current_user.commandes.where(sold: false).all.any? %>
    <div class="row">
        <div class="col-6 field">
            <%= f.label :mode_paie, "Choisissez votre mode de réglement:" %> <p></p>
            <div class="text-center">
                <div id="paypal-button"></div>
                <hr/>
                <%= f.select :mode_paie, @reglements[0..@reglements.count-2].collect { |g| [g, @reglements.index(g)] }, {}, class: "form-control", id: "mode_paie" %>
                <%= f.hidden_field :montant, value: @sold %>
                <%= f.hidden_field :valide, value: false %>
            </div>
        </div>
        <div class="col-6 actions text-center">
            <% if current_user.eleves.count > 1 && @txt_fam != "" %>
                <%= f.submit :famille, value: @txt_fam, data: { confirm: "Êtes-vous sûr de vouloir appliquer l'option famille ?"  }, class: "btn btn-success btn-lg" %>
            <% end %>
            <br/><br/>
            <%= f.submit :sold, value: "Régler vos commandes", data: { confirm: "Valider votre paiement ?"  }, class: "btn btn-primary btn-lg", id: "submit" %>
        </div>
    </div>
<% end %>
<% end %>
<br/>
<%= link_to 'Retour', root_path %>

<script>
if ($('#paypal-button').length != 0) {
    var paiement = String($('#montant').text().replace(",","."));

    paypal.Button.render({
        env: 'production', // Or 'sandbox' or 'production',

        client: {
            sandbox:    'ATwpDbhnC7tTgiz1PPlNPsFtwKmo2A9j8QTdDmtUxmRJujjPSCdBZstGdrZWSJpg6W0wc5t3QYRoff9h',
            production: 'AYFQPikoidv7LABQXBTHhvo6q9fhIuTYRA8XD8chXzYWXcL7uW6TjutpwGulx2PrlT9dNjnpwYf0QvLN'
        },

        commit: true, // Show a 'Pay Now' button

        style: {
            color: 'gold',
            shape: 'pill',
            size: 'medium',
            layout: 'vertical'
        },

        payment: function (data, actions) {
            return actions.payment.create({
                payment: {
                    transactions: [
                        {
                            amount: { total: paiement, currency: 'EUR' }
                        }
                    ]
                }
            });
        },

        onAuthorize: function (data, actions) {
            return actions.payment.execute().then(function(payment) {

                // The payment is complete!
                // You can now show a confirmation message to the customer
                $("#mode_paie").val('5').change();
                $("#submit").click();
            });
        },

        onCancel: function (data, actions) {
            /*
             * Buyer cancelled the payment
             */
             alert("Vous avez annulé le paiement.")
        },

        onError: function (err) {
            /*
             * An error occurred during the transaction
             */
             alert("Il s'est produit une erreur inconnue pendant votre réglement. Nous vous proposons d'essayer une nouvelle fois ou bien de choisir un autre moyen de paiment.")
        }
    }, '#paypal-button'); }
</script>