<%= form_for(batigrado) do |f| %>
  <% if batigrado.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(batigrado.errors.count, "error") %> prohibited this batigrado from being saved:</h2>

      <ul>
      <% batigrado.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :titre %>
    <%= f.text_field :titre, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :date_bat, "Date du Batigrado (le samedi)" %>
    <%= f.date_select :date_bat, order: [:day, :month, :year] %>
  </div>

  <div class="field">
    <%= f.label :adresse %>
    <%= f.text_area :adresse, class: "form-control" %>
  </div>
  <div class="row">
      <div class="field col-4">
        <%= f.label :cp, "Code Postal" %>
        <%= f.text_field :cp, class: "form-control" %>
      </div>

      <div class="field col-8">
        <%= f.label :ville %>
        <%= f.text_field :ville, class: "form-control" %>
      </div>
  </div>
  <hr/>
  <div class="row">
      <div class="field col-4">
        <%= f.label :tarif1, "Tarif pour un batigrado" %>
        <%= f.text_field :tarif1, class: "form-control" %>
      </div>

      <div class="field col-4">
        <%= f.label :tarif2, "Tarif du deuxième batigrado" %>
        <%= f.text_field :tarif2, class: "form-control" %>
      </div>

      <div class="field col-4">
        <%= f.label :tarif_ext, "Tarif pour les capoeiristes extérieurs" %>
        <%= f.text_field :tarif_ext, class: "form-control" %>
      </div>
  </div>
  <hr/>
  <div class="field">
    <%= f.label :tar_rep1, "Tarif du repas du samedi midi" %>
    <%= f.text_field :tar_rep1, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :tar_rep2, "Tarif du petit déjeuner" %>
    <%= f.text_field :tar_rep2, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :tar_rep3, "Tarif du repas du dimanche midi" %>
    <%= f.text_field :tar_rep3, class: "form-control" %>
  </div>
  <hr/>
  <div class="field">
    <%= f.label :tar_soiree, "Tarif de la soirée" %>
    <%= f.text_field :tar_soiree, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :adr_soiree, "Adresse de la soirée" %>
    <%= f.text_field :adr_soiree, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :heur_soiree, "Heure de la soirée" %>
    <%= f.time_select :heur_soiree, class: "form-control" %>
  </div>
  <br/>
  <div class="actions text-center">
    <%= f.submit:go, value: "Valider", class: "btn btn-primary btn-lg" %>
  </div>
<% end %>
