<p id="notice"><%= notice %></p>

<h1>Batigrados</h1>

<table class="table table-stripped">
  <thead>
    <tr>
      <th>Titre</th>
      <!-- <th>Description</th> -->
      <th>Date</th>
      <!-- <th>Adresse</th>
      <th>Cp</th>
      <th>Ville</th>
      <th>Tarif1</th>
      <th>Tarif2</th>
      <th>Tarif ext</th>
      <th>Tar rep1</th>
      <th>Tar rep2</th>
      <th>Tar rep3</th>
      <th>Tar soiree</th>
      <th>Adr soiree</th>
      <th>Heur soiree</th> -->
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @batigrados.each do |batigrado| %>
      <tr>
        <td><%= batigrado.titre %></td>
        <!-- <td><%= batigrado.description %></td> -->
        <td>du <%= (batigrado.date_bat-1).strftime( '%d/%m/%Y' ) %> au <%= (batigrado.date_bat+1).strftime( '%d/%m/%Y' ) %></td>
        <!-- <td><%= batigrado.adresse %></td>
        <td><%= batigrado.cp %></td>
        <td><%= batigrado.ville %></td>
        <td><%= batigrado.tarif1 %></td>
        <td><%= batigrado.tarif2 %></td>
        <td><%= batigrado.tarif_ext %></td>
        <td><%= batigrado.tar_rep1 %></td>
        <td><%= batigrado.tar_rep2 %></td>
        <td><%= batigrado.tar_rep3 %></td>
        <td><%= batigrado.tar_soiree %></td>
        <td><%= batigrado.adr_soiree %></td>
        <td><%= batigrado.heur_soiree %></td> -->
        <td><%= link_to 'Voir', batigrado %></td>
        <td><%= link_to 'Modifier', edit_batigrado_path(batigrado) %></td>
        <!-- <td><%= link_to 'Destroy', batigrado, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Ajouter un Batigrado', new_batigrado_path %> | <%= link_to 'Retour',  request.referer.present? ? request.referer : root_path %>
