<p id="notice"><%= notice %></p>

<p>
  <strong>Titre:</strong>
  <%= @batigrado.titre %>
</p>

<p>
  <strong>Date bat:</strong>
  <%= @batigrado.date_bat %>
</p>

<p>
  <strong>Tail tshirt:</strong>
  <%= @batigrado.tail_tshirt %>
</p>

<p>
  <strong>Tail pant:</strong>
  <%= @batigrado.tail_pant %>
</p>

<p>
  <strong>Tarif1:</strong>
  <%= @batigrado.tarif1 %>
</p>

<p>
  <strong>Tarif2:</strong>
  <%= @batigrado.tarif2 %>
</p>

<p>
  <strong>Grad up:</strong>
  <%= @batigrado.grad_up %>
</p>

<p>
  <strong>Boolean:</strong>
  <%= @batigrado.boolean %>
</p>

<p>
  <strong>Repas1:</strong>
  <%= @batigrado.repas1 %>
</p>

<p>
  <strong>Repas2:</strong>
  <%= @batigrado.repas2 %>
</p>

<p>
  <strong>Repas3:</strong>
  <%= @batigrado.repas3 %>
</p>

<p>
  <strong>Soiree:</strong>
  <%= @batigrado.soiree %>
</p>

<p>
  <strong>Info regl:</strong>
  <%= @batigrado.info_regl %>
</p>

<%= link_to 'Edit', edit_batigrado_path(@batigrado) %> |
<%= link_to 'Back', batigrados_path %>
