<h1><%= @batigrado.titre %></h1>

<h4 class="text-center">
  <%= @batigrado.description %>
</h4>

<p class="text-center">
    du <%= (@batigrado.date_bat-1).strftime( '%d/%m/%Y' ) %> au <%= (@batigrado.date_bat+1).strftime( '%d/%m/%Y' ) %> - <%= @batigrado.adresse %> <%= @batigrado.cp %> <%= @batigrado.ville %>
</p>

<br/>

<p>
  <strong>Tarif:</strong>
  <%= @batigrado.tarif1.round %> euros pour 1 évènement
</p>
<% if@batigrado.tarif2 %>
<p>
  <strong>Tarif:</strong>
  <%= @batigrado.tarif1.round+@batigrado.tarif2.round %> euros pour 2 évènements
</p>
<% end %>
<% if @batigrado.tarif_ext %>
<p>
  <strong>Tarif caporistes hors GCC:</strong>
  <%= @batigrado.tarif_ext.round %> euros
</p>
<% end %>
<% if @batigrado.tar_rep1 %>
<p>
  <strong>Tarif repas du samedi midi:</strong>
  <%= "%.2f" % @batigrado.tar_rep1 %> euros
</p>
<% end %>
<% if @batigrado.tar_rep2 %>
<p>
  <strong>Tarif du petit déjeuner:</strong>
  <%= "%.2f" % @batigrado.tar_rep2 %> euros
</p>
<% end %>
<% if @batigrado.tar_rep3 %>
<p>
  <strong>Tarif repas du dimanche midi:</strong>
  <%= "%.2f" % @batigrado.tar_rep3 %> euros
</p>
<% end %>
<% if @batigrado.tar_soiree %>
<p>
  <strong>Tarif de la soiree (samedi soir):</strong>
  <%= "%.2f" % @batigrado.tar_soiree %> euros
</p>
<% end %>
<p>
  <strong>Adresse soirée:</strong>
  <%= @batigrado.adr_soiree %>
</p>

<p>
  <strong>Heure de début de soirée:</strong>
  <%= @batigrado.heur_soiree.strftime( '%H:%M' ) %>
</p>

<br/>

<%= link_to 'Modifier', edit_batigrado_path(@batigrado) %> |
<%= link_to 'Retour', batigrados_path %>
