<p id="notice"><%= notice %></p>

<h1>Mes commandes</h1>

<table class="table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Qte</th>
      <th>Nom</th>
      <th>Couleur</th>
      <th>Taille</th>
      <!-- <th>Typ livr</th>
      <th>Vill collect</th>
      <th>Nom</th>
      <th>Prenom</th>
      <th>Rue</th>
      <th>Cp</th>
      <th>Ville</th>
      <th colspan="3"></th> -->
    </tr>
  </thead>

  <tbody>
    <% @compdts.each do |compdt| %>
      <% @pdt = Produit.find(compdt.produit_id) %>
      <tr>
        <td><%= compdt.created_at.strftime('%d/%m/%Y') %></td>
        <td><%= compdt.qte %></td>
        <td><%= @pdt.nom %></td>
        <td><%= compdt.couleur %></td>
        <td><%= compdt.taille %></td>
        <!-- <td><%= compdt.typ_livr %></td>
        <td><%= compdt.vill_collect %></td>
        <td><%= compdt.nom %></td>
        <td><%= compdt.prenom %></td>
        <td><%= compdt.rue %></td>
        <td><%= compdt.cp %></td>
        <td><%= compdt.ville %></td>
        <td><%= link_to 'Show', compdt %></td>
        <td><%= link_to 'Edit', edit_compdt_path(compdt) %></td>
        <td><%= link_to 'Destroy', compdt, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<!-- <%= link_to 'New Compdt', new_compdt_path %> -->
<%= link_to 'Retour', root_path %>
