
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <%= link_to image_tag("logo_gcc.png", alt: "Grupo Cultura Capoeira", id: "logo"), root_path, class: "navbar-brand" %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

                <% if user_signed_in? %>
                    <li class="nav-item"><%= link_to 'Accueil', root_path, class: "nav-link" %></li>
                    <li class="dropdown">
                        <a class="nav-link active dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Mon compte</a>
                        <div class="dropdown-menu">
                            <%= link_to "Editer son profil", edit_user_registration_path, class:  "dropdown-item" %>
                            <!-- <%= link_to "Préfèrences", '#', class:  "dropdown-item" %> -->
                        </div>
                    </li>
                <% else %>
                    <li class="nav-item"><%= link_to "Créer un compte", new_user_registration_path, class: "nav-link" %></li>
                <% end %>
                <% if current_user %>
                <% if current_user.admin == 1 || current_user.admin == 2 %>
                                <li class="dropdown">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Elèves</a>
                                    <div class="dropdown-menu">
                                        <%= link_to "Liste des élèves", eleves_path, class:  "dropdown-item" %>
                                        <%= link_to "Statistiques d'un élève", stateleve_path, class:  "dropdown-item" %>
                                    </div>
                                </li>
                                <li class="dropdown">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Enseignants</a>
                                    <div class="dropdown-menu">
                                        <%= link_to "Liste des enseignants", enseignants_path, class:  "dropdown-item" %>
                                        <%= link_to "Ajouter un enseignant", new_enseignant_path, class:  "dropdown-item" %>
                                    </div>
                                </li>
                                <li class="dropdown">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Cours</a>
                                    <div class="dropdown-menu">
                                         <%= link_to "Liste des cours", cours_path, class:  "dropdown-item" %>
                                         <%= link_to "Ajouter un cours", new_cour_path, class:  "dropdown-item" %>
                                    </div>
                                </li>
                                <li class="dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Présences</a>
                                    <div class="dropdown-menu">
                                          <%= link_to "Consulter des présences", consulpres_path, class:  "dropdown-item" %>
                                    </div>
                                </li>
                                <li class="dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Événements</a>
                                    <div class="dropdown-menu">
                                          <%= link_to "Ajouter un Batigrado", new_batigrado_path, class:  "dropdown-item" %>
                                          <%= link_to "Liste des Batigrados", batigrados_path, class:  "dropdown-item" %>
                                          <%= link_to "Participants Batigrado", com_batigrados_path, class:  "dropdown-item" %>
                                          <%= link_to "Ajouter un Repas du Grupo", new_repasgcc_path, class:  "dropdown-item" if current_user.admin == 1 %>
                                          <%= link_to "Consulter Repas du Grupo", repasgccs_path, class:  "dropdown-item" %>
                                          <%= link_to "Participants Repas du Grupo", ticket_repas_path, class:  "dropdown-item" if current_user.admin == 1 %>
                                    </div>
                                </li>
                <% elsif current_user.admin == 3 %>
                                <li class="dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Présences</a>
                                    <div class="dropdown-menu">
                                          <%= link_to "Saisir des présences", presencesel_path, class:  "dropdown-item" %>
                                          <%= link_to "Consulter des présences", consulpres_path, class:  "dropdown-item" %>
                                    </div>
                                </li>
                <% elsif current_user.admin == 0 %>
                                <li class="dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Affiliation</a>
                                    <div class="dropdown-menu">
                                        <%= link_to "Créer une fiche", new_elefe_path, class:  "dropdown-item" %>
                                        <%= link_to "Mes fiches", eleves_path, class:  "dropdown-item" %>
                                    </div>
                                </li>
                                <% if @current_elefe %>
                                <% last_batigrado = Batigrado.last %>
                                <% if last_batigrado %>
                                    <% if  !last_batigrado.date_bat.past? %>
                                        <li class="dropdown">
                                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Batigrados</a>
                                            <div class="dropdown-menu">
                                                <%= link_to "S'inscrire", new_com_batigrado_path, class:  "dropdown-item" %>
                                                <%= link_to "Mes batigrados", com_batigrados_path, class:  "dropdown-item" %>
                                            </div>
                                        </li>
                                    <% end %>
                                <% end %>
                                <% repasgcc = @repasgccs.last %>
                                <% if repasgcc %>
                                    <% if  !repasgcc.date_repas.past? && @current_elefe %>
                                        <li class="dropdown">
                                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Repas du groupe</a>
                                            <div class="dropdown-menu">
                                                 <% @ticket_repa = TicketRepa.find_by(:elefe_id => @current_elefe.id) %>
                                                 <%= link_to "S'inscrire", new_ticket_repa_path, class:  "dropdown-item" %>
                                                 <%= link_to "Mon inscription", ticket_repas_path, class:  "dropdown-item" %>
                                            </div>
                                         </li>
                                    <% end %>
                                <% end %>
                                <!--
                                <li class="dropdown">
                                <a class="nav-link dropdown-toggle disabled" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Commandes</a>
                                    <div class="dropdown-menu">
                                        <%= link_to "Vêtements & Instruments", root_path, class:  "dropdown-item" %>
                                        <%= link_to "Mes commandes", root_path, class:  "dropdown-item" %>
                                    </div>
                                </li>
                                -->
                                <% end %>
                <% end %>
            </ul>
            <% if current_user.admin == 0 %><div class="navbar-text float-right"><a style="color: white;" href="<%= panier_path %>"><i class="fa fa-shopping-basket fa-2x" aria-hidden="true"></i> <%= number_to_currency(@sold, unit: "", separator: ",", delimiter: "").to_s %> <i class="fa fa-eur" aria-hidden="true"></i></a></div><% end %>
            <% end %>

        </div>
 </nav>