<h1>Modification du compte</h1>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, class: "form-control", autofocus: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(laisser vide si vous ne voulez pas le changer)</i><br />
    <%= f.password_field :password, class: "form-control", autocomplete: "off" %>
    <% if @minimum_password_length %>
      <em><%= @minimum_password_length %> caractères minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(nous avons besoin de votre mot de passe actuel pour confimer vos changements)</i><br />
    <%= f.password_field :current_password, class: "form-control", autocomplete: "off" %>
  </div>
  <br/>
  <div class="actions text-center">
    <%= f.submit "Valider", class: "btn btn-primary btn-lg" %>
  </div>
  <br/>
<% end %>

<h3>Supprimer mon compte</h3>
<div class="text-center">
    <p>Insatisfait ? <%= button_to "Supprimer mon compte", registration_path(resource_name), class: "btn btn-primary btn-lg", data: { confirm: "Êtes-vous sûr ?" }, method: :delete %></p>
</div>
<%= link_to "Retour", :back %>
